[2017-06-26 14:56] duel007 opened #2 "Suitcase fusion recipe not picking up latest updates"
Pulls incorrect user facing version number of 18.2.2 even though release notes show 18.2.4

https://sparkle.extensis.com/u/ST/EN/suitcase18en.xml - 18.2.2 listed

https://www.extensis.com/downloads/release-notes/suitcase-fusion-7/?sparkle - 18.2.4 listed

Not sure if this is a failure of the recipe or Extensis not updating their webite.

[2017-06-26 15:00] macmule commented on #2
@duel007 this might be like VLC, where the devs update the sparkle feed behind the general release.

I'll leave it for a week & we can then see.

[2017-06-26 15:18] duel007 commented on #2
Looks like I'm just impatient. Feed just updated and pulled latest. I think we are good. Thank you!

[2017-06-26 15:18] #2 closed

[2017-10-20 15:42] mtconleyuk opened #5 "Fails to run because parent recipe not found"
When I try to run this recipe under AutoPkg, it fails to run because the parent recipe, com.github.nstrauss.download.BackupandSync, does not exist.

[2017-10-21 12:21] macmule commented on #5
@mtconleyuk you need to add the repo https://github.com/nstrauss/autopkg-recipes/ to your AutoPkg

[2017-10-21 12:21] #5 closed

[2018-03-06 08:08] gigiwest123 opened #7 "Error when running SketchUp Pro 2018 EN recipe"
No match found on URL: https://www.sketchup.com/download/all

Not sure if I'm missing a step, or if the link has changed, the URL seems to direct to the downloads page, just a bit stuck.

Thanks

[2018-03-06 09:50] macmule commented on #7
@gigiwest123 just seen the issue myself.. bare with :)

[2018-03-06 11:01] macmule commented on #7
@gigiwest123 should be resolved now in https://github.com/autopkg/dataJAR-recipes/commit/fcddec230507b36f503c45092635193cb6c540b4

[2018-03-06 11:01] #7 closed

[2018-03-08 21:55] wholtz opened #8 "JumpCloud Agent.munki.recipe results in re-installation after auto update"
The JumpCloud Agent performs automatic updates. The installs array created by MunkiInstallsItemsCreator for this program is checksum based. So after an auto-update occurs by the JumpCloud agent, Munki notices the checksum no longer matches and re-installs the most current version in the Munki repo. Therefore if your Munki repo is a bit behind the current JumpCloud release, you'll get thrashing bet

[2018-03-10 22:31] macmule commented on #8
@wholtz Sounds reasonable, can you submit a PR with changes?

[2018-03-15 16:25] a-vogel opened #10 "Egnyte Desktop Sync NoPrefs: URL for re_pattern has changed"
It seems the URL has changed from "https://helpdesk.egnyte.com/hc/en-us/articles/201636844" to "https://helpdesk.egnyte.com/hc/en-us/articles/201636844-Download-Desktop-Sync-Installers", so the "com.github.dataJAR-recipes.download.Egnyte Desktop Sync NoPrefs" does not find the download URL, at least for me  :)

Could you please test and confirm?

[2018-03-15 16:53] macmule commented on #10
https://helpdesk.egnyte.com/hc/en-us/articles/201636844 still works..

but they have changed the URL some.

On 15 March 2018 at 16:25, a-vogel <notifications@github.com> wrote:

--

Regards,

Ben

[2018-03-15 17:24] richard-datajar commented on #10
They have changed the direct downlink from https to http. Have updated receipt to reflect. Now looks for http and https.

[2018-03-15 17:24] #10 closed

[2018-03-15 20:10] macmule commented on #8
resolved in #9

[2018-03-15 20:10] #8 closed

[2018-07-31 18:39] jonbrown21 opened #13 "Downloading Crashplan 6"
When using the .munki recipe which leverages your download recipe I get the following error

Processing CrashPlan for Enterprise 6.munki.recipe...
Curl failure: The requested URL returned error: 404 Not Found (exit code 22)
Failed.

`Processing CrashPlan for Enterprise 6.munki.recipe...
URLTextSearcher
{'Input': {'re_pattern': u'https://download.code42.com/installs/mac/install/Code42CrashPlan/Code

[2018-07-31 19:03] macmule commented on #13
Working here

[code]

[2018-07-31 19:04] macmule commented on #13
Proxy?

The URL is correct: https://download.code42.com/installs/mac/install/Code42CrashPlan/Code42CrashPlan_6.7.2_Mac.dmg

[2018-07-31 20:14] jonbrown21 commented on #13
Strange, not using a proxy here so not sure why its not working for me. I tested the download and was able to get the DMG. But when I run the .munki recipe it fails.

`URLTextSearcher
{'Input': {'re_pattern': u'https://download.code42.com/installs/mac/install/Code42CrashPlan/Code42CrashPlan_+[0-9]+\\.+[0-9]+\\.+[0-9]+\\_Mac.dmg',
           'url': u'https://support.code42.com/Administrator/6/Plann

[2018-07-31 20:25] jonbrown21 commented on #13
Just spotted something this bit of code in the downloader

'filename': u'CrashPlanForEnterprise 6.dmg',

is different from the bit in the Munki Recipe

'filename': u'CrashPlanForEnterprise6.dmg',

could that have anything to do with anything?

[2018-07-31 20:32] jonbrown21 commented on #13
That was it. I changed

[code]

to

[code]

and it started working. Odd that it just started throwing errors. If you can replicate this behavior I am happy to submit a pull request.

[2018-07-31 21:01] macmule commented on #13
Still working for me.. (.download & .munki)

NAME is a variable, so whilst untidy it won't cause issues.

The CURL download is still failing, but the URL looks fine.

[code]

And still working here.
[code]

[2018-07-31 21:05] jonbrown21 commented on #13
Strange, ok well I will close this out. The change fixes the issue that I had on my end. I will ping you back if something more concrete happens.

[2018-07-31 21:05] #13 closed

[2018-11-06 20:50] samuryan89 opened #14 "Google Backup and Sync recipe broken due to parent recipe name change?"
Hi there, trying to use your ["Google Backup and Sync.munki.recipe"](https://github.com/autopkg/dataJAR-recipes/blob/master/Google%20Backup%20and%20Sync/Google%20Backup%20and%20Sync.munki.recipe) with AutoPKG, but it's not able to find a parent recipe.

I think line 38...
<string>com.github.nstrauss.download.BackupandSync</string>

...needs to be updated, but not entirely sure with what. The new l

[2018-11-09 18:31] macmule commented on #14
@samuryan89 all working here.

Do you have nstrauss's recipe repo added to your AutoPkg?

[2019-01-18 14:20] macmule commented on #14
Alrighty.. closing this off..

Reopen if needed :)

[2019-01-18 14:20] #14 closed

[2019-03-07 16:04] Daz-wallace opened #19 "UssAgent.download.recipe is failing with a 404"
Issue is with the vender, the latest version served is different from the version number of the directory it's in.

The latest directory is "4.2.2.3987" but the installer inside is "UssAgent 4.2.3.4018.dmg" (the version is wrong!)

[2019-03-07 16:06] Daz-wallace commented on #19
Vender support emailed.

[2019-04-01 11:37] macmule opened #20 "Luxafor CodeSignatureVerifier error"
Emailed vendor:

[2019-04-09 19:37] macmule commented on #20
https://github.com/autopkg/dataJAR-recipes/commit/e5a800866c9fd843c770e4319645415ad99a5367

[2019-04-09 19:37] #20 closed

[2019-04-16 19:10] uisge-beatha opened #22 "VIA.download.recipe grabbing old version"
Hello,

When I took a look at VIA.pkg this morning it was producing a pkg for version 2.3, rather than 2.4 as expected. I took a look at VIA.download.recipe and found it was pointing to what seems to be a dedicated page for version 2.3.  Two changes to VIA.download.recipe fixed the issue for me:

I changed the URL argument in URLTextSearcher to this location: https://k.kramerav.com/support/downloa

[2019-04-16 19:20] macmule commented on #22
@uisge-beatha thanks, can you file a PR?

[2019-04-16 19:46] uisge-beatha commented on #22
Done!

[2019-04-16 20:00] macmule commented on #22
Awesome, thanks & merged!

https://github.com/autopkg/dataJAR-recipes/pull/23

[2019-04-16 20:00] #22 closed

[2019-04-23 22:12] macmule commented on #19
Seems resolved now

[2019-04-23 22:12] #19 closed

[2019-04-24 19:38] prausch opened #24 "Suitcase Fusion 9 Version"
I was able to update the Sparkle URL in an override, but now the download has changed from a .zip of the app to an uncompressed dmg with the app on it. Tried changing the processors myself, but couldn't figure it out.

[2019-05-01 20:38] macmule commented on #24
Recipes created, please test & log an issue if needed!

[2019-05-01 20:38] #24 closed

[2019-07-18 20:54] macmule opened #33 "Post Haste"
Sparkle Feed seems to have an invalid xml:

[2019-07-24 12:18] Daz-wallace commented on #33
Looks like the Sparkle feed doesn't exist anymore as it 404's on the site.
Quick look inside the App (v2.6.4) looks like it no longer uses Sparkle?

[2019-07-24 12:52] Daz-wallace commented on #33
Fixed in commit https://github.com/autopkg/dataJAR-recipes/commit/18605f5972a5ce82827c2b4df2953ac17ae645f1

[2019-07-24 12:52] #33 closed

[2019-07-27 12:23] macmule opened #35 "Adobe CC Recipes - Adobe Acrobat"
Should this be "Adobe Acrobat DC CC 2019" (as it is now), or "Adobe Acrobat Pro DC CC 2019"

See: https://www.adobe.com/uk/creativecloud/catalog/desktop.html

[2019-09-04 10:43] fridomac opened #39 "Adobe CC Recipes - Index out of Range error"
Hello!

Tried out the AdobeCC Recipes, but so far got nowhere (I am a Python noob):

When running the AdobeCC2019Versioner.py I always get:

`Error in local.jss.AdobeAcrobatDCCC2019: Processor: AdobeCC2019Versioner: Error: list index out of range`

Any Pointers on where to look?

Bye, Fridolin.

[2019-09-04 10:45] macmule commented on #39
Can we have the output from autopkg run -vvv for that recipe?

Redacting as required.

[2019-09-04 10:50] fridomac commented on #39
Thank you for the quick reply!

Here is the Output:

[code]

[2019-09-05 18:20] macmule commented on #39
@fridomac, is `/Users/admin/Downloads/AdobeAcrobatDCCC2019/` an Adobe Admin console downloaded item?

[2019-09-05 18:34] fridomac commented on #39
Yes, built the Package in the Admin Console, downloaded and unzipped it...

[2019-09-07 14:57] macmule commented on #39
hmm.. can you try with another PKG?

The logs are saying that "/Users/admin/Downloads/AdobeAcrobatDCCC2019/Build/AdobeAcrobatDCCC2019_Install.pkg" doesn't exist

[2019-09-07 15:12] fridomac commented on #39
Will do tomorrow morning (Sunday at the Office :-( and Report back. Sorry to be such a bother...

[2019-09-08 08:12] fridomac commented on #39
@macmule tried building the packages another way in the Admin Console. The packages I built had no Uninstall pkg present, so the Versioner would fail. If it is present, everything worked well.

Bye, Fridolin.

[2019-09-08 10:11] macmule commented on #39
huh.. i didn't know you could build packages without the uninstall.pkg's!

Is this resolved now?

On Sun, 8 Sep 2019 at 09:12, Fridolin Koch <notifications@github.com> wrote:

--

Regards,

Ben

[2019-09-08 11:27] fridomac commented on #39
If I build a custom pkg, it does not include an uninstaller.
Yes, seems to work now. Thank you!

[2019-09-08 21:28] macmule commented on #39
Ah, great!

Can you advise on the steps taken to create a custom installer?

I can then see if I can amend or make the error messaging clearer.

On Sun, 8 Sep 2019 at 12:27, Fridolin Koch <notifications@github.com> wrote:

--

Regards,

Ben

[2019-09-09 09:54] fridomac commented on #39
If you create a "Self-Service"-Package instead of a "Managed Package", it will not include an uninstaller, and the AdobeVersioner.py will break.

Thank you again!

Frido.

[2019-09-23 09:39] MichalMMac opened #43 "VMware Fusion 11.5 Munki recipe problem"
Updated to Fusion to 11.5 via Munki on my work machine.

1. Launched the VMware Fusion.app
2. Got prompted for admin credentials
3. Got an error that application is damaged and is unable to start.

Sorry I did not take a print screen. Might be worth looking into process of building the dmg image. Could be a problem there.

[2019-09-23 09:51] macmule commented on #43
@MichalMMac Folks tested these some around the 11.5 release & advised that the post install fixes:

https://github.com/autopkg/dataJAR-recipes/blob/master/VMware%20Fusion%2011/VMware%20Fusion%2011.munki.recipe#L31

Is that in your override?

[2019-09-23 09:53] MichalMMac commented on #43
Sorry. I must have missed that during recipe review. Thanks!

[2019-09-23 09:53] #43 closed

[2019-10-10 15:57] ewtillman opened #46 "OpenJDK12 Receipe "DepricationWarning: Java version no longer publicly available""
The OpenJDK12 Recipe is getting a error of "DepricationWarning: Java version no longer publicly available" so it no longer works.  Then the Apache netbeans recipe has a requirement of OpenJDK12, may want to update the requirement to OpenJDK13.

[2019-10-14 17:46] macmule commented on #46
@ewtillman I wonder if we shouldn't change this to 11 or 8:

[http://netbeans.apache.org/download/nb110/nb110.html](http://netbeans.apache.org/download/nb110/nb110.html)

Apache NetBeans 11.0 runs on JDK 8, 9, 10, 11, and 12.

[2019-10-16 18:08] ewtillman commented on #46
@macmule ya I'm not sure what the right answer is since technically it works on multiple jdk versions. Maybe just not have a jdk set as a requirement.  I opened the ticket more so just to inform that a recipe was not working as intended.

[2019-10-16 20:19] macmule commented on #46
fair enough, thanks for the warning & the requires has been removed.

[2019-10-16 20:19] #46 closed

[2019-10-28 14:25] macmule opened #48 "Fritzing"
As per: https://github.com/fritzing/fritzing-app/issues/3551

Looks like Linux only releases for now, others to come

[2019-11-05 09:04] Daz-wallace opened #49 "Adobe CC2019 items need to be updated to work with the newly released Adobe 2020"
Adobe released new versions of their App suite yesterday with the 'promotional' name of 2020 (Note the removal of the "CC" designator).

I'm working on an initial compatibility update in the branch `Adobe-2020-testing`

[2019-11-05 11:13] Daz-wallace commented on #49
Current Status: All tested fine except for Lightroom (non-Classic) and Acrobat.

Lightroom: This is failing to find valid info.plist for the App. Investigating...
Acrobat: There isn't a specific 2020 version (yet?). Tested fine with the CC 2019 version called "AdobeAcrobatDC2020"

[2019-11-05 13:05] Daz-wallace commented on #49
Pull request #50

Current Status: All tested fine except for Lightroom (non-Classic)

Lightroom: This is failing to find valid info.plist for the App.

[2019-11-05 13:43] Daz-wallace commented on #49
More info on the error:

Working package in a `Adobe2020Versioner` run:
[code]

Non-working package in a `Adobe2020Versioner` run:
[code]

[2019-11-06 11:02] Daz-wallace commented on #49
This is fixed with the commit https://github.com/autopkg/dataJAR-recipes/pull/50/commits/6f0aaa0509f9f13d295aaf246bff682d8fb0ae7e

[2019-11-06 11:03] Daz-wallace commented on #49
Pull request merged 😊

[2019-11-06 11:03] #49 closed

[2019-11-14 21:20] rtrouton opened #52 "VMware Fusion recipes not picking up VMware Fusion 11.5.1."
For whatever reason, it looks like the VMware Fusion recipes are still picking up 11.5.0, instead of 11.5.1.

[2019-11-18 20:30] rtrouton commented on #52
Output from running `com.github.dataJAR-recipes.pkg.VMware Fusion 11`:

[code]

[2019-11-19 10:38] macmule commented on #52
Got a fix, yet to implement:

`#!/usr/bin/python

import urllib2
from distutils.version import LooseVersion
from xml.etree import ElementTree

major_version = "11"
request = urllib2.Request('https://softwareupdate.vmware.com/cds/vmw-desktop/fusion.xml')
vsus = urllib2.urlopen(request)
data = vsus.read()
metaList = ElementTree.fromstring(data)

urls = []
for metadata in metaList:
    url = metadata

[2019-11-19 22:22] macmule commented on #52
@rtrouton can you update the repo & try again? should be sorted.

[code]

[2019-11-20 09:40] macmule commented on #52
Tested again & imported 11.5.1, happy me so closing this off.

Thanks for the issue!

[2019-11-20 09:40] #52 closed

[2019-11-22 21:35] blackthroat opened #53 "JPEGmini - No channel items were found in appcast feed"
[code]

[2019-11-22 21:59] neilmartin83 commented on #53
Hey @blackthroat

Thanks for flagging this. It looks like JPEGmini only comes in the pro flavour now - can't find any reference to the standard/"diet" version of it on their website any more.

I'm thinking we should remove these recipes - will wait for @macmule chime in. :)

The JPEGmini Pro-Trial recipes work fine - so would suggest you switch to those.

[2019-11-22 22:45] macmule commented on #53
Cheers @blackthroat & @neilmartin83, added DeprecationWarning.

[code]

[2019-11-22 22:45] #53 closed

[2019-12-02 13:33] MichalMMac opened #54 "FortiClientVPN6.download.recipe filename changed"
Filename changed to `FortiClientVPNOnlineInstaller_6.2.dmg`
Download recipe needs an udpate.

https://github.com/autopkg/dataJAR-recipes/blob/c1021788a0734042be0f21254587edaac883e174/Forticlient/FortiClientVPN6.download.recipe#L30

[2019-12-02 14:22] Daz-wallace commented on #54
Thanks @MichalMMac should be all resolved!

[2019-12-02 14:22] #54 closed

[2019-12-02 15:16] MichalMMac commented on #54
Wow. That was fast. I didn't even get to making my own PR. Thanks @Daz-wallace ! :-)

[2019-12-04 23:48] TSPARR opened #55 "Issues with Autopkg 2 - BoxDrive - PkgInfo.py"
This processor fails in Autopkg 2.
[code]

[2020-01-03 16:33] eshirk opened #58 "Adobe 2020 - Display Name"
Any chance that there's a low-impact way to modify Adobe2020Versioner.py so that it respects the recipe override's pkginfo display_name if one is present?

Use case: we package both named-user and shared-device-license versions of each title and so need that info in the display name, but the versioner is imposing display name of app_path + ' 2020'.

Many thanks for this time-saving tool.

[2020-01-03 16:46] macmule commented on #58
@eshirk why not use the named-user pkg then install the shared-device-license pkg (as in the license itself), post?

[2020-01-03 18:56] eshirk commented on #58
Good question; the short answer is that because of the size and scope of our campus-wide multi-tenant Munki service, along with our quest for service parity with our SCCM service, we landed on separate packages for each license model.

[2020-01-07 13:48] Daz-wallace commented on #58
@eshirk We'd suggest that you create Unlicensed / NUL licensed packages and then import an SDL package separately. You can apply the SDL to the devices that need it to convert the deployment as needed.

That way you only need to create, package, store and update one package per App, rather than two per app.

[2020-01-07 18:29] eshirk commented on #58
We will probably move to this model for the 2021 release, but we'll still need to edit the display_name value in the unlicensed/NUL pkginfo file for the sake of clarity, for the IT Pros who use our service.

[2020-01-08 21:17] macmule commented on #55
thanks, I've moved this to a shared processor & will sort when tackling python 3

[2020-01-08 21:20] macmule commented on #58
@eshirk Pull Requests glady accepted, but these recipes have worked this way since 2018 & are currently working for us & many others as they are.

As such, I'm closing this one off for now as we're likely not to make the changes requested here ourselves.

[2020-01-08 21:20] #58 closed

[2020-01-09 13:00] Daz-wallace opened #60 "Issue with download on FortiClientVPN6.download.recipe"
Looks like the website is down or taken offline - https://www.forticlient.com/downloads

Full error:```

 u'SEARCH_URL': u'https://www.forticlient.com/downloads',
 u'USER_AGENT': u'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_5) AppleWebKit/600.8.9 (KHTML, like Gecko) Version/8.0.8 Safari/600.8.9',
 'verbose': 3}
URLTextSearcher
{'Input': {'re_pattern': u'https://filestore.fortinet.com/forticlient

[2020-01-10 10:37] Daz-wallace commented on #60
Looks like it was a temporary outage on the site but the download still extracts the new online installer App which downloads the installer.

[2020-01-15 14:51] macmule opened #61 "USSAgent"
SSL Cert expired on https://downloads.clouduss.com/

![Screenshot 2020-01-15 14 50 30](https://user-images.githubusercontent.com/2464974/72443611-77122c80-37a6-11ea-80c7-859a4504458c.png)

[2020-01-16 11:49] MichalMMac commented on #60
I saw the latest change. `FortiClient is only available via an Online Installer app, can no longer be mass deployed.`.

Is this bacause of the license or we just don't have URL for actual install dmg?

[2020-01-16 13:31] neilmartin83 commented on #60
Fortinet changed the DMG containing the installer so that it now contains an app that will download the installer package over the internet.

The previous DMG had the package hidden away in the app bundle, which Autopkg could extract and import into Munki etc.

I'm afraid that's no longer possible because of this change.

[2020-01-16 14:30] macmule commented on #60
So.. i've deprecated this recipe as "FortiClient is only available via an Online Installer app, can no longer be mass deployed."

If folks need this, I suggest reaching out to Fortinet to ask for an Offline Installer

[2020-01-16 14:30] #60 closed

[2020-01-16 17:27] MichalMMac commented on #60
The new FortiClient "download installer" downloads .dmg with .mpkg package to the cache in /private/var/folder. I wonder where it gets it.

[2020-02-04 18:05] smashism opened #64 "Rectangle JSS recipe creates policy as "Webrecorder Player""
I imagine this is a copy/paste oversight

https://github.com/autopkg/dataJAR-recipes/blob/5a98b0c3ac05fe3666b04b750e00f430ef52698d/Rectangle/Rectangle.jss.recipe#L55

I don't appear to have the permissions to do a PR but this seems like a pretty straight-forward fix.

[2020-02-04 18:06] Daz-wallace commented on #64
I’ll jump on this as soon as I reach a desk. Thanks for the spot

[2020-02-04 18:32] Daz-wallace commented on #64
Hi @smashism

Sorry about the bad copy/paste. That's 100% my fault.

[Fix committed](https://github.com/autopkg/dataJAR-recipes/commit/ef9b1c0a74a4271feed8f9b42ba39d03db29c41e).

Any problems, please let us know.

[2020-02-04 18:32] #64 closed

[2020-02-06 13:15] macmule commented on #61
Cert renewed & recipes are now working again.

[2020-02-06 13:15] #61 closed

[2020-02-06 13:16] macmule commented on #48
resolved 01/12/19 : https://github.com/fritzing/fritzing-app/releases/tag/CD-498

[2020-02-06 13:16] #48 closed

[2020-02-12 18:58] fseesink opened #66 "VMware Fusion 11 recipe now crashing under autopkg 2.0.2"
Recently tracked down why my AutoPkgr wasn't running as expected.  (I have it queued to run each morning and send me a notification of updates.)

I was getting an error message:
<img width="226" alt="image" src="https://user-images.githubusercontent.com/48991/74367064-373b6680-4d9f-11ea-8368-636bc67c3c5f.png">

which I tracked down to the **VMware Fusion 11** recipe.  When I run the following usin

[2020-02-12 19:20] macmule commented on #66
Thanks @fseesink.

This is due to AutoPkg 2 being python 3 & the processor being python 2.

We’ll need to update it & all of our custom processors.

Likely will be able to look at this in a couple of weeks.

[2020-02-12 21:47] jps3 opened #67 "Getting "module 'FoundationPlist' has no attribute 'readPlistFromString'" error"
I had downloaded new Shared Device License installer packages for a number of Adobe Creative Cloud applications today (Wed Feb 12) and have had errors using **Adobe2020Versioner.py** importing all of them into munki.

- autopkg version 2.0.2
- munki version 4.0.1.3899
- dataJAR-recipes commit 2c7e7c93b4e966f565bd3c44c856ed3e311e1108
- macOS 10.14.6 18G3020

[code]

[2020-02-12 21:49] jps3 commented on #67
Note: I will keep checking other aspects of the mac I am working on in case it's a different issue. In the meantime in case it _is_ related to something that has changed and affects others I wanted to post it now to get it noted. Thank you.

[2020-02-12 21:54] macmule commented on #67
Can you try with AutoPkg 1?

I think this might be due to the python 3 requirements of autopkg 2

[2020-02-12 21:59] jps3 commented on #67
I do not have an autopkg v1 instance immediately at hand, but that would explain why I am seeing that now but not the last time I had used the Adobe2020*.py scripts. I had forgotten that in the intervening days/weeks I had upgraded to autopkg v2.

I will need to set up a VM with autopkg v1 to do the test, likely I will not have a chance to complete the run until tomorrow, but I will try for this e

[2020-02-12 22:20] jps3 commented on #67
[code]

![Screen Shot 2020-02-12 at 5 18 55 PM 2](https://user-images.githubusercontent.com/379162/74382714-e6863680-4dbb-11ea-96b1-b17307425b7a.png)

[2020-02-12 22:57] macmule commented on #67
`FoundationPlist` is part of AutoPkg.. so something is off with that install

[2020-02-12 22:57] macmule commented on #67
https://github.com/autopkg/keeleysam-recipes/pull/122

[2020-02-13 01:44] jps3 commented on #67
Ok. I see where and how I misunderstood where the error was coming from now, I think. I was not looking as closely at all of the verbose output, just the Python error. I completely overlooked the `Running ['/usr/local/bin/autopkg', 'run', ...`. (I was already hours-long frustrated with Adobe SDL packaging, having had to rebuild quite a few today because those created yesterday all gave connection

[2020-02-13 21:27] jps3 commented on #67
When I did the Autopkg 1.4.1 test last evening, I was calling Adobe2020**Versioner**.py _**not**_ Adobe2020Importer.py on the command line. I had been looking at that filename listed in the traceback information and used it as the import command. (OMFG/#facepalm)

- - -

Now for something completely different, or at least vaguely similar: A **careful** test.

- Testing VM with macOS 10.14.6
- Auto

[2020-02-13 21:55] jps3 commented on #67
- Testing VM with macOS 10.14.6
- AutoPkg 2.0.2
- Munki 4.0.1.3914

###  Munki 4 + AutoPkg 2.0.2 Setup
[code]

### Prepare AdobeXD2020 Package for Import Test
[code]

### Adobe2020Importer.py Test
[code]

**AutoPkg 2.0.2 + Adobe2020Importer.py fails**

[2020-02-13 22:05] jps3 commented on #67
Testing a quick-and-dirty patch

Listed here to show what was change, not necessarily a patch to be used in master since it would most likely break AutoPkg 1.x.

I don't know offhand how one would go about testing for which version of AutoPkg was running and importing the correct plist library. Or, at least, certainly not an elegant or likely reliable solution.

[code]

### Adobe2020Importer.py Te

[2020-02-13 22:06] jps3 commented on #67
That's enough for this afternoon, I am going to get a friggin' 🍺. Cheers.

[2020-02-14 16:49] macmule commented on #67
@jps3 so, you need python 3 versions of the processors for autopkg2 , right?

[2020-02-16 18:03] macmule commented on #55
Sorted, see: https://github.com/autopkg/dataJAR-recipes/commit/fbcf938271b22b8ee63b98d274e3f2cbffc39813

Thanks for your patience!

[2020-02-16 18:03] #55 closed

[2020-02-16 21:33] macmule commented on #66
Done, see: https://github.com/autopkg/dataJAR-recipes/blob/master/VMware%20Fusion%2011/VMwareFusion11URLProvider.py

Please update our repo.. if have any other issues let us know.

[2020-02-16 22:53] #35 closed

[2020-02-16 23:15] fseesink commented on #66
Updated repo, made sure to update local trust info, but now getting the following:
<img width="224" alt="Screen Shot 2020-02-16 at 5 52 29 PM" src="https://user-images.githubusercontent.com/48991/74614380-7510f580-50e5-11ea-9d38-da52052ba23a.png">

Again, going to the CLI, here's what I'm now getting:
[code]

I even tried rebuilding the override from scratch, but same thing.  Just thought you shou

[2020-02-17 16:46] jps3 commented on #67
I am not sure, and I should be careful before making any pronouncements.

Is the defining difference between an AutoPkg2 Processor vs an AutoPkg3 Processor the use of `FoundationPlist[.readPlistFromString()]` (for python2) vs `plistlib[.readPlistFromBytes()]` (for python3)?

[2020-02-17 16:51] macmule commented on #67
@jps3 I updated the recipes last night & the autopkg wiki.. try again please!

[2020-02-17 17:24] jps3 commented on #67
First test (AdobeBridge2020) on macOS 10.14.6 18G3020 with AutoPkg 2.0.2 and Munki 4.0.1.3899 was successful.

About to run it again but on all remaining app packages from last week's updates.

[2020-02-17 18:18] jps3 commented on #67
Success! Your recent patches seem to have worked flawlessly. Thank you so much.

![Screen Shot 2020-02-17 at 1 16 48 PM](https://user-images.githubusercontent.com/379162/74678048-de494500-5187-11ea-8853-b8156667ee22.png)

[2020-02-17 19:09] mpanighetti opened #68 "BoxDrive.jss.recipe failing with Unknown processor 'PkgInfo'"
BoxDrive.jss.recipe is failing with error: `Unknown processor 'PkgInfo'.` [It looks like the `PkgInfo` processor was removed yesterday](https://github.com/autopkg/dataJAR-recipes/commit/5c73b6ec79ef4503923b3aff7a61db4079215e9b#diff-40195e60a26f64bddca7c2d22d8f52f7) which would explain the disconnect.

[2020-02-17 19:14] macmule commented on #68
Apologies, missed that one when making the changes yesterday.

Should be sorted now, please update the repo & if any issues please reach out again.

[2020-02-17 19:14] #68 closed

[2020-02-17 19:14] macmule commented on #67
Awesome, closing this one off.

[2020-02-17 19:14] #67 closed

[2020-02-17 19:36] mpanighetti commented on #68
That fixed it, thanks!

[2020-02-18 08:23] macmule commented on #66
@fseesink can you repo update & try again?

[2020-02-19 20:25] GordSpence opened #70 "Problem with AmazonCorrettoJava8.munki"
Recently the Amazon Corretto recipe has been failing with the following error which appears to be related to the SEARCH_PATTERN:

I'm not sure what's going wrong and I've even tried manually specifying the full address for the download in the search pattern, but that's not working either. Hoping someone smarter than me is able to narrow down the problem.

[2020-02-19 20:53] macmule commented on #70
So.. ours looks at https://github.com/autopkg/dataJAR-recipes/blob/master/AmazonCorrettoJDK/AmazonCorrettoJava8.munki.recipe#L50 as a parent..

Will need to check there & whatever that uses.. thanks though.. will look tomorrow :)

[2020-02-20 15:53] master-vodawagner opened #71 "VMware Fusion 11 - processor path not found for processor"
Getting the following errors when running this recipe on AutoPkg 2.0.1

autopkg run VMwareFusion11-update.jss.recipe -vvvv
Processing VMwareFusion11-update.jss.recipe...
WARNING: processor path not found for processor
Failed.
Receipt written to /tmp/receipts/VMwareFusion11-update.jss-receipt-20200220-155000.plist

The following recipes failed:
    VMwareFusion11-update.jss.recipe
        Unknown p

[2020-02-20 15:54] macmule commented on #71
@master-vodawagner you need to add the justinrummel repo to AutoPkg, as we’re using their processor now

[2020-02-20 15:54] #71 closed

[2020-02-20 20:00] macmule opened #72 "Luxafor"
Download hosted at https://prev.luxafor.com/uploads/ which is using an expired self-signed cert.

Presuming temporary.

[2020-02-20 22:08] macmule commented on #70
@GordSpence can you update your overrides SEARCH_URL?

[code]

The above is set in our override, & seems to be working.

[2020-02-20 22:10] macmule commented on #66
Confirmed this end.. so let us know if the issue persists after a repo update

[2020-02-22 17:16] fseesink commented on #66
Still not working.  Now getting
<img width="224" alt="image" src="https://user-images.githubusercontent.com/48991/75096376-00b6d600-556d-11ea-8b32-f543ee308a7d.png">

Did same as before.  First simply tried updating repo.  Next deleted and rebuilt override.  Always the same result.

[2020-02-24 14:12] GordSpence commented on #70
That definitely does work for me - just got the latest to download

[2020-02-24 17:17] Daz-wallace commented on #72
Same issue still present.

Looks like the actual download links on https://luxafor.com/download/ are HTTP not HTTPS.
Can't see any option to log support details so sent a tweet - https://twitter.com/Daz_Wallace/status/1231991337580408832?s=20

[2020-02-25 07:42] macmule commented on #66
The recipe is now using the processor from justinrummel recipes.. can you add that repo & try again?

Can you paste the redacted output of ```autopkg run -vvv <recipe name>``` if still failing?

[2020-02-25 07:43] macmule commented on #70
Awesome, thanks for letting us know.

[2020-02-25 07:43] #70 closed

[2020-02-25 08:16] Daz-wallace commented on #72
Email address provided by the twitter feed - support@luxafor.com

Email sent asking them to sort out the download page's cert. Looks like it's self-signed, out of date and for the wrong domain (maybe).

[2020-02-25 17:28] fseesink commented on #66
Rebuilt my override, and it does now appear to be working properly.  Of course, proof will be once VMware puts out an update.  But not getting Python errors/etc. like before, and output from `autopkg run -vvv "VMware Fusion 11.munki"` generates output that makes sense.

[2020-02-25 21:06] macmule commented on #66
Awesome.. we're using the justinrummel processor now & now our own.. but
should be sorted

On Tue, 25 Feb 2020 at 17:45, Frank Seesink <notifications@github.com>
wrote:

--

Regards,

Ben

[2020-02-25 21:06] #66 closed

[2020-02-28 15:42] Daz-wallace commented on #72
Reply from their support:

I think we'll wait for them to fix it....

[2020-03-02 07:15] jlehikoinen opened #73 "'VMwareFusionURLProvider' object has no attribute 'download_to_file'"
Hi!

We started to see this error message after VMwareFusionURLProvider change (or after verifying and updating the trust info):

**Use justinrummel VMwareFusionURLProvider**
`commit 05b1902345b92b51c4e689380ef82f418d852641`

AutoPkg version: 1.4
JSSImporter version: 1.0.5

Any idea what could be causing it?

[code]

[2020-03-02 07:35] macmule commented on #73
@jlehikoinen please raise on Justin Rummels repo, as we’re using their processor now. (https://github.com/autopkg/justinrummel-recipes)

`com.justinrummel.download.VMwareFusion/VMwareFusionURLProvider `

[2020-03-02 07:35] #73 closed

[2020-03-11 10:20] macmule opened #74 "Hudl Sportscode"
Waiting on https://github.com/autopkg/autopkg/pull/622 to be added to an AutoPkg update, then recipe will work with a little update.

[2020-03-14 00:00] prausch opened #75 "Suitcase Fusion 21"
Suitcase Fusion 9 has been replaced with Suitcase Fusion 21, and a Sparkle feed is present

https://sparkle.extensis.com/u/ST/EN/suitcase21en.xml

[2020-03-14 06:27] neilmartin83 commented on #75
Thanks - fixed in commit https://github.com/autopkg/dataJAR-recipes/commit/a475eec8f375d3e512ee056b000471d7cb2afdbc

Suitcase Fusion 21 recipes are here: https://github.com/autopkg/dataJAR-recipes/tree/master/Suitcase%20Fusion%2021

:-)

[2020-03-14 06:27] #75 closed

[2020-03-16 11:15] jelockwood opened #76 "Framer X recipe not spotting new versions"
It looks like your Framer X recipe stopped working at V48 in December 2019 and has as a result not spotted V49 or V50. (V50 is the current version.)

I removed all the previously download/generated files from ~/Library/AutoPkg/Cache to force it to run a completely fresh check and it did re-download a file but when I examined the result it was still V48 and not the current V50.

It seems your recip

[2020-03-16 11:32] neilmartin83 commented on #76
Thanks for letting us know - this is fixed now in commit https://github.com/autopkg/dataJAR-recipes/commit/96adeac1c665e85ae77aa1bf16d0869991d099ee 👍

[2020-03-16 11:32] #76 closed

[2020-03-16 11:56] jelockwood commented on #76
@neilmartin83 Thanks for the rapid fix. I can confirm it now works for me.

[2020-03-20 12:11] ewancolyer opened #78 "WatchGuard Mobile VPN with SSL admin prompt"
Not so much an issue with the recipe its self, but after running and installing on a mac running Mojave (10.14.6) it prompts to make changes. If you dismiss these then try to use the VPN you get the attached error.

<img width="445" alt="Screenshot 2020-03-20 at 11 18 56" src="https://user-images.githubusercontent.com/32178903/77162456-e9073a80-6aa3-11ea-8a13-4e6e3f22904b.png">

[2020-03-20 12:34] neilmartin83 commented on #78
Hey @ewancolyer ,

Are you whitelisting the kernel extension for this before you install?

The developer ID should be KS8XL6T9FZ (haven't tested).

https://help.endian.com/hc/en-us/articles/360019434774-How-to-Fix-Cannot-allocate-TUN-TAP-dev-dynamically-error-on-MAC-OS-X

[2020-03-20 13:01] ewancolyer commented on #78
Hey @neilmartin83 :)

I've got 84ZK5S5258 as the developer ID for watchguard that i'm whitelisting

[2020-03-20 13:12] neilmartin83 commented on #78
Ah - did this one work then?

[2020-03-20 14:13] ewancolyer commented on #78
No, its still prompting to make changes with that allowed.

I'm just testing it with a fresh VM, manually allowing the kext and checking that it is the correct one.

[2020-03-20 14:55] neilmartin83 commented on #78
I'll have a try in a VM here - we're deploying it for a customer and whitelisting 84ZK5S5258 as well. Stand by!

[2020-03-20 15:02] neilmartin83 commented on #78
Hi Ewan,

I installed this and am seeing the admin prompt. Might be able to suppress it with a munki postinstall script... digging in to see what it does.

[2020-03-20 15:35] neilmartin83 commented on #78
Hey Ewan,

Afraid I couldn't find a way around this - the app tries to run a script that sets permissions on a couple of binaries in the app bundle but when I do that manually, it still prompts. Did you see anything at all in the vendor docs? I had a brief look but only found a page that said it would prompt for admin... grr!

Might be worth giving their support a nudge.

[2020-03-20 15:47] ewancolyer commented on #78
I'll get in contact with their support, from a quick look it looks like you can use openVPN instead of their client so I may investigate that.

I'll leave it upto you guys if you want keep the issue open or not.

[2020-03-20 17:38] neilmartin83 commented on #78
Cheers - I'll close this one as it's more a vendor issue.

For OpenVPN, Tunnelblick and OpenVPN Connect Client could work. Tunnelblick definitely doesn't need admin creds on launch if you use the autopkg recipes for it. And you can package/deploy your org's config for it pretty easily.

Have a great weekend!

[2020-03-20 17:38] #78 closed

[2020-03-26 01:40] beatlemike opened #79 "VMware Fusion 11.download.recipe is creating a broken App"
The app that download says it is damaged.

![Screen Shot 2020-03-25 at 6 40 00 PM](https://user-images.githubusercontent.com/31707108/77601461-0daa4a80-6ec8-11ea-997f-9cf02746cc85.png)

[2020-03-26 08:26] Daz-wallace commented on #79
Possibly linked to this https://github.com/autopkg/justinrummel-recipes/issues/23

[2020-03-26 08:34] Daz-wallace commented on #79
@beatlemike Are you deploying the output of the .download recipe, or the .pkg recipe?

[2020-03-26 16:38] beatlemike commented on #79
@Daz-wallace Hi Darren! normally I uses a custom JSS to the .pkg recipe, but when I noticed it was pulling a damaged app, I tried an override to the .pkg recipe directly with the same result. Then I just ran the .download directly, which after some unzipping , yielded the same result.

If I recall isn't the data-jar recipe based off the justinrummel .download recipe? That actually works, but none

[2020-03-26 16:42] Daz-wallace commented on #79
@beatlemike The download .app may be undamaged but to deploy it needs a bit more work. So a download recipe that downloads a valid App may still not work once deployed.

We'll take a look at this but I suspect it needs some other magic :/

[2020-03-26 16:54] beatlemike commented on #79
Thanks @Daz-wallace I assumed there might be some mystic doings that I am not learned enough to figure out. I'm guessing I can't be the only one it's come down for, took me, I think, two days to even notice though

[2020-03-27 08:40] Daz-wallace commented on #79
Hi @beatlemike

I've just re-tested our recipe and installed this into a VM and VMware Fusion 11 launched fine (with all the usual PPPC and license code prompts).

Can you retest with a fresh package / .pkg recipe?
Also, do you have the issue in a fresh install, or only when updating an existing install?

[2020-03-27 16:37] beatlemike commented on #79
Hi @Daz-wallace
I feel like an idiot now, but this morning it works just fine. The issue before was first noticed on a clean install. It was tested after that yesterday and the day before on both a clean VM and my own machine an update.

If there was an issue maybe it wasn't on your end at all haha Alright, cool thanks for helping me troubleshoot though, I know you are super busy.

Mike

[2020-03-27 16:38] Daz-wallace commented on #79
Hi @beatlemike
It could be VMWare had a bad release?

No harm anyway! Glad it seems to be working now.

Have a great weekend and stay safe!

[2020-03-27 16:38] #79 closed

[2020-03-31 14:11] macmule commented on #39
Hi @fridomac, this would need a whole re-architecting to these recipes & isn't something we'd actually use.

So.. i'm going to close this one off for now. But thanks for bringing the issue to our attention.

[2020-03-31 14:11] #39 closed

[2020-04-02 18:49] eclears opened #81 "Abstract Download Error"
Error with Abstract in autopkg:

Error running recipes

Not match found on URL: https://api.goabstract.com/releases/latest
Failed.

[2020-04-02 19:00] macmule commented on #81
@eclears have you updated our repo?

https://github.com/autopkg/dataJAR-recipes/blob/master/Abstract/Abstract.download.recipe

was updated 17 days ago

[2020-04-02 19:10] eclears commented on #81
Oops! Resolved!

[2020-04-02 19:10] #81 closed

[2020-04-10 21:25] n8felton opened #82 "Deprecate and remove CrashPlanPROeClient.munki.recipe"
CrashPlan PROe has been rebranded as Code42 for Enterprise (or Code42 CrashPlan?). This recipe no longer works as the values it's looking for (`cp.download.CPPROE_CLIENT_VERSION`) no longer exist.

As a cleanup item, I suggest at a minimum adding a DeprecationWarning to this, but recommend just removing the recipe entirely as it likely hasn't worked for a number of months at this point.

[2020-04-10 22:04] macmule commented on #82
Depreacted as parent pkg recipe was deleted: https://github.com/autopkg/homebysix-recipes/commit/a8bef0ee56626811992dac34c639122c618d75ab#diff-ce0b34293223285eb9810a1219e7ff05

Thanks for the heads up

[2020-04-10 22:04] #82 closed

[2020-04-17 07:28] Daz-wallace commented on #72
The vender has fixed this now (yaa!)

[2020-04-17 07:28] #72 closed

[2020-05-08 07:54] andredb90 opened #85 "FreeFileSync.download - CodeSignatureVerifier fails"
Hi

I noticed that your FreeFileSync.download recipe throws an error.

The input path is set to FreeFileSync_10.14_macOS.pkg. The version is now 10.23 and is likely to change again.

[2020-05-08 08:53] neilmartin83 commented on #85
Thanks @andredb90 - fixed in commit: https://github.com/autopkg/dataJAR-recipes/commit/d7fc8b5c9821ad33d8417b639433a88afd98de42

[2020-05-08 08:53] #85 closed

[2020-05-08 09:53] andredb90 commented on #85
hi @neilmartin83

Thanks for taking actions so quickly!

It looks like FreeFileSync.pkg has now a similar issue with its use of PlistReader.

The following recipes failed:
    FreeFileSync.pkg
        Error in local.pkg.FreeFileSync: Processor: PlistReader: Error: Path '/Users/admin/Library/AutoPkg/Cache/local.pkg.FreeFileSync/FreeFileSync/Applications/FreeFileSync.app' doesn't exist!

[2020-05-08 15:12] neilmartin83 commented on #85
Hi @andredb90 I've re-done the pkg recipe so it:

1. Unpacks the extracted flat package from the download recipe (this will work as long as the package is named "FreeFileSync*.pkg").
2. From the unpacked flat package, unpacks the component package, "FreeFileSync.pkg"'s payload.
3. Grabs the correct version from the app bundle in the unpacked FreeFileSync.pkg component package payload.
4. Copies th

[2020-05-08 15:12] neilmartin83 commented on #85
https://github.com/autopkg/dataJAR-recipes/commit/a38da23b8b73030f5d52195e4b3519f22a507373

[2020-05-08 15:42] andredb90 commented on #85
Hi @neilmartin83

Great job, thank you! I ran the recipes and everything worked as expected. (including my FreeFileSync.filewave recipe)

[2020-05-08 22:12] macmule opened #86 "sonic particles 2.0"
https://www.kasperskov.dk/projects_SonicParticles2.html is offline

To check back.

[2020-05-18 09:07] jby opened #87 "Cisco Webex Meetings.download.recipe keeps downloading an old version"
This recipe always downloads version 40.2.18.5...

[2020-05-18 09:21] jby commented on #87
Current version is 40.4.5 AFAIK

[2020-05-18 09:25] jby commented on #87
Ok, it seems that the 40.2.18.5 is what you get if you go to download it from their site as well, so maybe not that strange that your recipe downloads that version...

[2020-05-18 09:34] neilmartin83 commented on #87
Hey @jby how are you getting 40.4.5?

[2020-05-18 09:37] jby commented on #87
Let me find out - I just had to reboot my Mac due to AppStore hanging

[2020-05-18 09:44] jby commented on #87
I seem to have gotten that using this recipe on May 1:

[code]
local.munki.Cisco Webex Meetings being my local override of this recipe...

[2020-05-18 09:52] neilmartin83 commented on #87
We read the version from `Cisco Webex Meetings.app/Contents/Info.plist` --> `CFBundleShortVersionString`

So for whatever reason, the current download is a lower version than before... 40.2.18.5

I'll close this as it's a vendor issue, unfortunately not much else we can do.

Thanks for the heads up!

[2020-05-18 09:52] #87 closed

[2020-05-18 12:20] jby commented on #87
Yeah, ok!

[2020-05-29 14:00] sdagley opened #89 "VMware Fusion 11.5.5 breaks postinstall"
With the VMware Fusion 11.5.5 update the `/Applications/VMware\ Fusion.app/Contents/Library/Initialize\ VMware\ Fusion.tool set` command in the postinstall no longer works to configure a working copy of the app. Attempting to launch a Mac VM after running that command will report several errors, starting with:

**Could not open /dev/vmmon: Broken pipe.**

Please make sure that the kernel module 'v

[2020-05-29 15:39] sdagley commented on #89
Looks like VMware makes a reference to this issue in https://kb.vmware.com/s/article/2058680 - specifically:
Note: It has been observed that certain package deployment tools lose code signatures for some scripts/utilities/config files inside VMware Fusion 11.5.5 or later during package deployment, the loss of the code signatures causes Fusion to fail to load kernel extensions and launch services,

[2020-06-01 14:44] apizz opened #91 "VMwareFusion10URLProvider Error"
autopkg version: 2.1
macOS version: 10.14.6

Verbose recipe output:

[code]

[2020-06-01 14:46] macmule commented on #91
Yea, that's not been update for autopkg2

can you test swapping out the VMwareFusion10URLProvider section  for something like:

[2020-06-01 15:03] apizz commented on #91
Yep that works.  Although, since the software hasn't been updated since 2019, it has a deprecation warning.  Guess I should remove the override then ...

[2020-06-01 15:40] macmule commented on #91
yea, we'll tidy up here too... thanks for the heads up

[2020-07-06 15:53] pythoninthegrass opened #93 "Fix extension attribute shebang"
This script for the Box Drive EA has a typo which causes `jamf recon` to fail.
https://github.com/autopkg/dataJAR-recipes/blob/1c7a5ade5ec8507b2dd77f6b0c64f2effa2adb4e/BoxDrive/BoxDrive-ExtensionAttribute.xml#L8

Just need to switch `#!/bin/assh` to `#!/bin/bash`. If you'd like, I can try a pull request.

[2020-07-07 09:06] macmule commented on #93
@pythoninthegrass please try a pull request :)

[2020-07-08 22:28] pythoninthegrass commented on #93
@macmule Done. Let me know if you need anything else ^_^

[2020-07-14 10:26] neilmartin83 commented on #93
Merged PR, thanks!

[2020-07-14 10:26] #93 closed

[2020-07-14 21:40] georgecm12 opened #95 "Adobe 2020 recipe errors"
I am receiving errors attempting to run the Adobe 2020 Import.jss.recipe, with overrides for AfterEffects2020, Photoshop2020, PremierePro2020, Animate2020, and DImension2020.

For the first four, the error reported is "JSSImporter: Error: string longer than 2147483647 bytes". A redacted -vvv output from the recipe run for AfterEffects2020 is attached. (Photoshop2020, PremierePro2020, and Animate20

[2020-07-15 07:54] Daz-wallace commented on #95
Hi @georgecm12

I'm just grabbing fresh copies of the installers to see what the issue might be.

Did these recipes work fine previously or not? If so, is it just newer Adobe packages that have changed to break it?

[2020-07-15 09:19] Daz-wallace commented on #95
Ah just seen your comments in JSS-Importer on Slack.

It would suggest the first four installers with the error "JSSImporter: Error: string longer than 2147483647 bytes" could be related to Jamf and / or JSSImporter?

I'll look into the Dimension issue but this might be an issue reported with Dimension's info.plist file.

[2020-07-15 09:32] Daz-wallace commented on #95
With Hyper drive (which is most of the) Adobe Apps we're reading the location of the App versions from:
./[App title].pkg/Contents/Resources/HD/[SAP Code][majorversion]/*.zip

For other Apps this works fine and you can actually unzip the file in the Finder. For Dimension this fails on the versioner script and fails to unzip in Finder.

I'll do some more digging...

[2020-07-15 09:54] Daz-wallace commented on #95
So the bash tool 'unzip' and Stuffit Expander and expand the zip fine, but the info.plist file inside the zipped file is garbage.

This is looking like it could be an Adobe issue :/

[2020-07-16 13:31] Daz-wallace opened #96 "Adobe Dimension 2020 has issues with Adobe Versioner"
**Issue:**
When running the AutoPKG recipes for Adobe 2020 on Dimension 2020 it fails with the error:
"Adobe2020Versioner: Error: not well-formed (invalid token): line 1, column 0"

**Expected:**
Versioner should be able to pull the correct App version out of the package payload and pass this through the processor list to where its needed, same as it will do for the other Adobe 2020 Apps

**Actual

[2020-07-16 13:31] Daz-wallace commented on #95
Hi George,
 The Dimension issue is a bit trickier. I've logged that under #96 so we can close this but at the moment, its a fix needed from Adobe :/

[2020-07-16 13:31] #95 closed

[2020-07-23 22:19] jw-macworks opened #98 "curl SSL error from Jump Desktop Connect munki recipe"
mirror.jumpdesktop.com certificate appears to be valid.
Issued by: Sectigo RSA Domain Validation Secure Server CA
Expires: Monday, March 29, 2021 at 4:59:59 PM Pacific Daylight Time

curl (7.54.0) returns
curl: (60) SSL certificate problem: certificate has expired

Autopkg (2.1) returns
Error in local.munki.Jump Desktop Connect: Processor: URLDownloader: Error: Command '['/usr/bin/curl', '--silent

[2020-07-24 07:43] Daz-wallace commented on #98
Hi @jw-macworks
I'm not able to replicate the issue this side, either with the .download or .munki recipes.

Can you try again to see if you hit a temporary problem?
Do you have a proxy on your AutoPKG box, either specific or inline?
Is it also possible you're hitting this - https://macmule.com/2020/06/02/autopkg-curl-exit-status-60/ ?

[2020-07-24 09:41] neilmartin83 commented on #98
Hey @jw-macworks - as well as the solution @Daz-wallace linked to above (removing the CA cert entry manually), this is also fixed in macOS 10.15.6... https://support.apple.com/en-us/HT210642

[2020-07-24 15:01] jw-macworks commented on #98
Thank you both. That makes sense.

[2020-07-24 15:01] #98 closed

[2020-07-24 23:16] homebysix opened #99 "Feature Request: Have Adobe2020Importer.py parse blocking applications instead of requiring logout"
The CC2020 pkginfo files that result from running the Adobe2020Importer.py require users to log out in order to install/update the software. Such installations should be possible without logging out, if the proper blocking applications can be determined.

It appears that the blocking applications for a particular installer are (often) available in the .ccp file of the download. I've written up a q

[2020-07-25 04:57] macmule commented on #99
Sadly, the listed processes within the apps have been known to be incomplete.

And, as you’ve seen, not all have the lists either within the PKG’s.

So.. so curate incomplete lists for 20ish apps etc.. seems like a road to madness.

Couple this with installs possibly failing when a conflicting process is launched mid-install, & things can get really messy.

[2020-07-25 05:00] homebysix commented on #99
Fair enough. The approach we're going to try is to make every CC app a blocking app for every other CC app. It's a very long list, but at least that way there's some chance that users won't need to log out.

I'm new to CC2019-2020 deployment so maybe I'm just more inclined to try it the hard way first. 😉 If it gets to be too much, I'll go back to `RequireLogout`.

[2020-07-25 05:00] #99 closed

[2020-07-28 15:19] #89 closed

[2020-07-29 09:05] jutonium opened #103 "FreeFileSync recipe not working properly"
The version number in the receipt has been stuck at 1.0 while the version for the app (CFBundleShortVersionString, CFBundleVersion) fits the version on the website and the naming of the downloaded ZIP-file.

Multiple versions showing the same 1.0 version in the receipts-array:
![bad_receipts_freefilesync](https://user-images.githubusercontent.com/68945137/88779175-bffd6180-d189-11ea-85e6-3ef1b9406

[2020-07-29 09:15] jutonium commented on #103
An installs-array created by MunkiInstallsItemsCreator during the FreeFileSync.pkg.recipe could solve the problem.

[2020-07-29 09:32] Daz-wallace commented on #103
Hi @jutonium
Thanks for the heads up. I've made tweaks to the .pkg and .munki recipes that should now fix this. All tested fine this side!

Give it a test and re-open if not 😊

Thanks!

[2020-07-29 09:32] #103 closed

[2020-07-29 10:01] jutonium commented on #103
Thanks! That was quick!
Now the caking on the ice would be if the minosversion (pkginfo) would be set properly as well.

[2020-07-29 10:08] Daz-wallace commented on #103
Pull requests accepted 😊

[2020-07-29 10:12] Daz-wallace commented on #103
I'm not sure how it's possible to pull the minimum OS Version from the Package but It'll be a minor edit to manually specify it within the recipe.

The first option would be better ideally

[2020-07-29 10:30] Daz-wallace commented on #103
Hmm, it looks like every other recipe for Munki I can find will set the minosversion manually and not dynamically. I'll add it in now.

[2020-07-29 16:52] rtrouton opened #104 "Error from DittoCopier.py when running com.github.dataJAR-recipes.pkg.VMware Fusion 11"
I'm testing the latest rev of the VMware Fusion 11 .pkg recipe and I'm seeing the following error (appears to be from `DittoCopier.py`):

[code]

[2020-07-29 16:53] macmule commented on #104
@mikedowler quick q.. what version of Python was "DittoCopier.py" tested against?

[2020-07-29 17:52] rtrouton commented on #104
Disregard, I just noticed I was running an older version of AutoPkg. Updated to AutoPkg 2.1 and now it's fine.

[2020-07-29 17:52] #104 closed

[2020-07-29 18:01] macmule commented on #104
Woot! Thanks @rtrouton.. off the hook @mikedowler

[2020-08-14 01:24] nvts31 opened #105 "BoxDrive - Code: 409 Response: Conflict"
Getting a 409 due to conflict in name for EA versus name for Smart Group. Names do not match, so the SG update fails.

**Exenstion Attribute:**
[code]

**Smart Group:**
[code]
Also, the version info fails append to the pkg_name upload to JSS.
` 'filename': 'Box Drive.pkg',`

Cheers

[2020-08-14 09:19] Daz-wallace commented on #105
Hi @nvts31

I've committed some changes that should fix the issues you mention. Can you give them a test?

I'm afraid I no longer have a jssimporter setup available so if this still has issues, we may need you to log a PR.

Thanks!

[2020-09-09 16:01] kitzy opened #106 "Syntax error in DittoCopier.py when"
[code]

[2020-09-09 16:04] kitzy commented on #106
Here is the recipe override we're using:

[code]

[2020-09-11 19:39] neilmartin83 commented on #106
Heya,

Could you please post the output of `autopkg run -vvv /path/to/your/override`?

The DittoCopier is used in the pkg recipe and I ran that just fine here.

What version of AutoPkg are you running? I've tested in 2.1 and 2.2.

Thank you.

[2020-09-15 14:40] kitzy commented on #106
@neilmartin83

Here's the output you requested.

[code]

[2020-09-15 15:08] kitzy commented on #106
Turns out I was using outdated versions of Autopkg and jssimporter. I updated both and now its working as expcted.

[2020-09-15 15:08] #106 closed

[2020-09-22 07:43] neilmartin83 opened #107 "Adobe 2020 recipes failing with After Effects and Premiere Pro"
Looks like Adobe added some new *-LearnPanel.zip files to their bundle pkgs. These don't contain app bundles and the recipe appears to be peeking inside them instead of the main app zips:

![image](https://user-images.githubusercontent.com/10920581/93855350-3fea0880-fcaf-11ea-92ab-49b25f9b04d0.png)
![image](https://user-images.githubusercontent.com/10920581/93855476-7c1d6900-fcaf-11ea-88f6-be2a4a6

[2020-09-24 14:43] macmule commented on #91
We actually already have the deprecation in the downloads.

[2020-09-24 14:43] #91 closed

[2020-09-24 14:52] macmule commented on #86
https://twitter.com/kasperfskov/status/1260943762341101568?s=20

[2020-09-24 14:52] #86 closed

[2020-09-24 14:54] #74 closed

[2020-09-24 14:55] macmule commented on #105
@nvts31 I'll close this off for now.. please come back if the issue persists

[2020-09-24 14:55] #105 closed

[2020-09-25 21:36] jazzace opened #108 "Consider Hardcoding QLab Sparkle Feed URL"
In your QLab4.download recipe, you use an Input variable to specify the Sparkle Feed URL. About 6 months ago, you updated the recipe to change the URL in question. Those of us with an existing recipe override did not receive the benefits of the update (since the URL in our override was not updated), and since the old URL was still working (albeit stuck on a previous release), it was easy to think

[2020-09-25 21:44] macmule commented on #108
@jazzace sounds like a plan.

Could you file a PR? Else we’ll get to it in due course next week.

[2020-09-28 16:08] jazzace commented on #108
Addressed in #110 — my linter did some clean up as well, as described in the notes.

[2020-09-28 19:53] #108 closed

[2020-09-28 19:54] macmule commented on #107
Fixed!

[2020-09-28 19:54] #107 closed

[2020-10-22 18:19] b3to opened #115 "cannot import using Adobe2020Importer.py"
Hi, i am running Adobe2020Importer.py with the munki override and keep getting this error:

The following recipes failed:
    local.munki.AdobePhotoshop2020
        Error in local.munki.AdobePhotoshop2020: Processor: Adobe2020Versioner: Error: list index out of range

[2020-10-22 18:23] macmule commented on #115
@b3to please see the below from step 1:

[code]

[2020-10-22 18:37] b3to commented on #115
![image](https://user-images.githubusercontent.com/23159997/96915262-0bb36480-1474-11eb-91e1-c9760b48efeb.png)

[2020-11-30 11:08] SilentHunter124 commented on #87
Can we reopen this ticket? The Webex Portal has download URLS with specific version matrix.

[2020-12-19 01:10] nvts31 commented on #105
The fix for this SmartGroup should be the below in order to match the EA.

[code]

[2021-01-04 11:33] floriangeyer opened #121 "Aspera Connect deprecated"
Is there any chance to get the Aspera Connect recipe to work again anytime soon?

[2021-01-04 11:36] Daz-wallace commented on #121
Sure, but it'll need IBM to make changes to resolve the below:

[code]

We'll happily accept PRs to fix the above if it can be done 😊

Thanks

[2021-01-04 13:16] floriangeyer commented on #121
Ok, I see. That new One-Click Installer App is available without logging into IBMid. There is still a systemwide installer package, that is available when you log into IBMid though.

[2021-01-04 13:19] Daz-wallace commented on #121
Yea there was two issues:
1) We couldn't scrap the website to pull down whatever the latest version was
2) Manually downloading the installer provided an "installer App" which aren't mass-deployable.

If you have a direct link for the first issue, that doesn't need a login, that'll help.
If the downloaded file is a proper macOS installer package (and not an App), that'll help the second issue.

We

[2021-01-05 21:12] ewtillman opened #122 "DisplayLink.munki.recipe - pulling legacy releases"
Technically this is not broken as it pulls the old DisplayLink USB Graphics Software Release 5.2.5" but their new driver "DisplayLink Manger Graphics Release 1.1" software is required for MacOS 11/10.15
Just wondering if you had any plans on updating this?

[2021-01-08 12:11] neilmartin83 commented on #122
Hi @ewtillman ,

I'd recommend using the DisplayLink Manager recipes from the smithjw-recipes repo. Our recipes intentionally download the driver. I've updated the description of the Download recipe to clarify this but we won't be making any further changes.

Many thanks!

[2021-01-08 12:11] #122 closed

[2021-01-12 10:48] macmule opened #124 "Adobe recipes uninstaller_item_location incorrect"
Upstream issue, see: https://github.com/autopkg/autopkg/pull/702

[2021-01-15 17:57] moorereason commented on #96
I'm seeing this problem with Dimension and Bridge.  The pimx is not a plain XML file.  Looking at the hexdumps below, the files are similar.  Wondering if they're encoding the package in an unknown format.

[code]

Here's the same for the Adobe Dimension:

[code]

[2021-01-19 11:09] neilmartin83 commented on #96
Confirmed the issue is now with Dimension and Bridge :-(

[2021-02-03 15:29] b3to commented on #115
ok, managed to make it work. followed your instructions.

[2021-02-03 15:29] #115 closed

[2021-02-26 12:18] Daz-wallace commented on #96
Case logged with Adobe 🤞
Case ID: E-00032579

[2021-03-02 16:12] macmule commented on #124
PR merged.. and in [AutoPkg 2.3](https://github.com/autopkg/autopkg/releases/tag/v2.3) so this is sorted :)

[2021-03-02 16:12] #124 closed

[2021-03-04 16:54] Daz-wallace commented on #121
Closed as there's no change here and this still isn't do-able :/

[2021-03-04 17:30] n8felton commented on #121
This might be of use: https://d3gcli72yxqn2z.cloudfront.net/connect_latest/v4/connectversions.min.js
Appears to be JSON as a JavaScript variable. Could either use a customer processor, or scrape it.

[code]
Take `href` from  `rel: enclosure`,  append it to the end of the base URL `https://d3gcli72yxqn2z.cloudfront.net/connect_latest/v4` to get `https://d3gcli72yxqn2z.cloudfront.net/connect_latest/

[2021-03-04 17:34] Daz-wallace commented on #121
Well, that does look promising!
Thanks @n8felton I'll reopen and take a look when I can 😊

[2021-03-04 17:35] macmule commented on #121
scraping json is easy peasy.. https://github.com/autopkg/dataJAR-recipes/blob/master/Audacity/Audacity.download.recipe

[2021-03-04 17:35] Daz-wallace commented on #121
Just for due diligence, Where did you grab the URL (https://d3gcli72yxqn2z.cloudfront.net/connect_latest/v4/connectversions.min.js) from @n8felton ?

[2021-03-04 17:40] n8felton commented on #121
I went to https://www.ibm.com/aspera/connect/ and did some digging with Chrome Dev Tools into how the site generated the `Download Aspera Connect 3.11.1 for macOS` button. I will admit that the `https://d3gcli72yxqn2z.cloudfront.net` URL may change, so it might be a two-part scrape - one to scrape https://www.ibm.com/aspera/connect for the cloudfront.net host, and one to scrape the resulting `/con

[2021-03-04 17:41] Daz-wallace commented on #121
Awesome, I'll see what I can do 😊
Thanks!

[2021-03-04 17:57] Daz-wallace commented on #121
1) Scrape "https://www.ibm.com/aspera/connect/" for "https://[thing].cloudfront.net" (e.g. https://d3gcli72yxqn2z.cloudfront.net)
2) Scrape "[result from 1]/connect_latest/v4/connectversions.min.js" for "/bin/IBMAsperaConnectInstaller-[version].dmg" (e.g. "/bin/IBMAsperaConnectInstaller-3.11.1.58.dmg")
3) Use "[result from 1]/connect_latest/v4/[result from 2]" for download
4) Profit!

[2021-03-05 08:34] Daz-wallace commented on #121
Resolved and back in a usable state after the above commit. Big thanks to @n8felton for the hard work!

[2021-03-08 10:52] Daz-wallace commented on #96
Any un-named helper has suggested that there's a JSON file we can also get this information from, e.g. in Bridge:
`Build/Bridge\ 11.0.1_Install.pkg/Contents/Resources/HD/KBRG11.0.1/Application.json`

Going through this JSON it looks like it has the version information we need, e.g. for Dimension:
[code]

We should be able to pull this and use it.

We're thinking of maybe line [213](https://github.

[2021-03-10 15:34] Daz-wallace opened #138 "Adobe 2020 Apps have changed the minimum OS"
Hey folks,

Looks like Adobe have changed the minimum macOS version from 10.13 to 10.14 in the middle of the 2020 versions, e.g.:
- After Effects 2020 v17.5 installs on macOS 10.13, v17.7 doesn't
- Media Encoder v14.5 installs on macOS 10.13, v14.9 doesn't

Adobe did warn of this but it was taken for new _major_ version changes, not a minor OS update:

https://helpx.adobe.com/media-encoder/user-gu

[2021-03-23 15:24] macmule commented on #138
So.. digging into this.. the Min OS Version isn't stated in the same place for each pkg etc..

1. For most apps, we can try the info.plist.. but not all have it.
2. Others were it's missing or the info.plist etc is in a odd format we can check the application.json
3. But apps like Acrobat.. it's in the pkg payload of the .app, and is like the below.

[code]

I guess the actual version is within th

[2021-03-23 15:24] #138 closed

[2021-03-23 16:42] #96 closed

[2021-03-23 18:57] JCSmillie opened #139 "ordinal not in range(128)"
I'm sorry to bring this here but I'm about at the end of my wits with this.  I've tried setting up Photoshop 2021 into Munki a few dozen different ways and they all end the same.  After some searching around on the Munki discussion groups I ended up here.  Tried again.  I followed the steps on your page, made sure I picked MANAGED and can confirm my files are in the right place, there is an instal

[2021-03-23 19:05] JCSmillie commented on #139
Updated to AutoPKG 2.3.1 just now (didn't realize I was behind) and then updated all my repos.  Same error.

[2021-03-23 19:48] JCSmillie commented on #139
So you might get a chuckle out of this.

Open Terminal on the Mac that actually is my AutoPKG server.  Run commands and they run fine..  I use iTerm2 for SSH and by default it is creating this problem.  Navigating to iTerm2 -> Preferences -> Profiles -> Terminal and unsetting the "Set local variables automatically" in Environment section fixes the problem, for me anyways.

[2021-03-23 19:48] #139 closed

[2021-04-17 12:27] macmule opened #141 "Clocker recipe failing"
Appears to be due to - https://github.com/n0shake/Clocker/issues/89

Once sorted we can sort the recipe

[2021-04-19 15:36] macmule opened #143 "Luxafor recipe failing"
There has been a change to the signing, which seems to fail some gatekeeper checks too.

Have reached out to the vendor to clarify, once sorted will update the recipe as needed.

<img width="1286" alt="Screenshot 2021-04-19 at 16 32 30" src="https://user-images.githubusercontent.com/2464974/115263415-52d19800-a12d-11eb-9000-732286051bcc.png">

[2021-04-23 14:02] opus-nbo opened #144 "openJDK 15 superseded. Please recipe for openJDK 16"
https://jdk.java.net/15/index.html

Can you create a recipe for openJDK 16?

[2021-04-26 17:06] el2493 commented on #144
I created a download recipe by making a copy of the previous openJDK 15 recipe I'd been using (https://github.com/el2493/autopkg/blob/master/OpenJDK16.download.recipe). It seems to work, but I tried copying/adapting the pkg recipe I'd been using for 15 and it's not accurately detecting the version of the app (it created OpenJDK-9.24.pkg). I'll look into trying to get it to work, but I don't have m

[2021-04-26 19:11] macmule commented on #144
Nice one :)

Did you want us to copy those into this repo, or did you want to host?

I'll admit, I've not looked at your handy work yet.. will do tomorrow.

On Mon, 26 Apr 2021 at 20:09, el2493 ***@***.***> wrote:

--

Regards,

Ben

[2021-04-28 16:43] macmule commented on #144
thanks @el2493..

In this case it might be worth a PR to @rtrouton's repo to add the new pkg recipe.. thoughts @rtrouton?

[2021-04-28 18:47] macmule commented on #144
@el2493, actually just found a repo with OpenJDK16 - https://github.com/autopkg/primalcurve-recipes/tree/master/OpenJDK16

I'm thinking here we'll change to have a recipe which just pulls the current version.. whatever it is.. and that should then work regardless of these regular changes.

[2021-04-28 19:48] macmule commented on #144
https://github.com/autopkg/dataJAR-recipes/tree/master/OpenJDK is what I was thinking.. just pull the latest

[2021-04-28 20:13] el2493 commented on #144
If that works and I didn't have to tweak existing recipes with each new release, that would be great! I don't have the skillset to create my own recipes so I've been just been adapting Rich's stuff (if I'm gonna steal, steal from the best!)

[2021-04-29 08:58] macmule commented on #144
@el2493 sounds good, and thanks for bringing to our attention.

For now I'd recommend using: https://github.com/autopkg/dataJAR-recipes/tree/master/OpenJDK

Thanks again, and I'll close this one off now.

[2021-04-29 08:58] #144 closed

[2021-04-29 09:30] arekdist opened #145 "Audacity"
It looks as SEARCH_PATTERN in Audacity.download.recipe needs correction.
URL changed to the following:

https://www.fosshub.com/Audacity.html/audacity-macos-3.0.2.dmg

[2021-04-29 11:17] macmule commented on #145
@arekdist looks to be working as-is.

https://regex101.com/r/tm6B66/1

[2021-04-29 14:20] eshirk commented on #145
I'm seeing the following:

        Error in local.munki.Audacity: Processor: URLDownloader: Error: Command '['/usr/bin/curl', '--silent', '--show-error', '--no-buffer', '--dump-header', '-', '--speed-time', '30', '--location', '--url', 'https://university.fosshub.com/Protected/5b7eee97e8058c20a7bbfcf4/607d5ff6abcf810357b72497/audacity-macos-3.0.2.dmg', '--fail', '--output', '/Users/Shared/AutoPkg/

[2021-04-29 15:06] macmule commented on #145
Have you followed the steps in the Description?

This recipe uses FossHub to check for available software updates.

On Thu, 29 Apr 2021 at 15:21, eshirk ***@***.***> wrote:

--

Regards,

Ben

[2021-04-29 15:18] eshirk commented on #145
Oh I'm sorry!! no I am not. most days I *do* know how to read. Just not this day.

[2021-04-29 15:30] arekdist commented on #145
Thanks for clarifying it. I didn't notice it either...

[2021-04-29 16:56] macmule commented on #145
Np, I'll close this off shortly.

But please re-open is still an issue after reaching out to fosshub

On Thu, 29 Apr 2021 at 16:31, arekdist ***@***.***> wrote:

--

Regards,

Ben

[2021-04-29 16:56] #145 closed

[2021-04-30 10:43] oliverweinm opened #147 "CrashPlan for Enterprises Recipe failing."
Currently, the the CrashPlan for Enterprises.pkg recipe fails, causing the CrashPlan for Enterprises.munki recipe to fail too:

Error message:
The following recipes failed:
    CrashPlan for Enterprise 6.munki.recipe
        Error in local.munki.CrashPlan for Enterprise 6: Processor: FlatPkgUnpacker: Error: extraction of /Users/setup/Library/AutoPkg/Cache/local.munki.CrashPlan for Enterprise 6/unp

[2021-05-07 12:13] #143 closed

[2021-05-08 09:49] macmule commented on #147
ty, PR merged :)

[2021-05-08 09:49] #147 closed

[2021-05-14 13:42] macmule opened #149 "Digital Pigeon 4 - SparkleUpdateInfoProvider: Error: Error parsing XML from appcast feed."
Looks to be an issue their side:

![Screenshot 2021-05-14 at 06 40 18](https://user-images.githubusercontent.com/2464974/118279015-8a302c00-b4c2-11eb-8722-e0e15c1b4fb2.png)

Sparkle xml:

[code]

Raising with their support

[2021-05-20 10:47] ian-atkinson opened #150 "Audacity recipe failing"
Hi,

The Audacity recipe in this repo doesn't seem to work at the moment, the download URL (e.g. https://university.fosshub.com/Protected/5b7eee97e8058c20a7bbfcf4/607d5ff6abcf810357b72497/audacity-macos-3.0.2.dmg) is a 403

Ian

[2021-05-20 10:49] Daz-wallace commented on #150
Hi @ian-atkinson

Have you followed through the notes from the download recipe?

[2021-05-20 11:21] ian-atkinson commented on #150
Ah, no I didn't sorry! I will get that set up,

Ian

[2021-05-21 11:22] macmule commented on #150
@ian-atkinson any better after reaching out to fosshub?

[2021-05-21 11:44] macmule commented on #149
[code]

[2021-05-24 20:14] eshirk opened #151 "Anaconda 3 installcheck_script white space?"
First, thanks for taking over the Anaconda3.munki.recipe from ygini-recipes!

However, I'm struggling with the installcheck_script, and I think it's due to Python white space issues. I've tried various approaches to resolve it but with no luck.

[2021-05-24 20:16] macmule commented on #151
@eshirk sorry, what issues are you seeing?

[2021-05-24 20:31] eshirk commented on #151
Let me create a clean override (this one has been kicked around too much) and I'll get back to you.

[2021-05-24 20:58] eshirk commented on #151
My bad--not your recipe at all, but one of the parent recipe (hansen-m) processors (MunkiPkginfoMerger). Apologies for the noise, closing this request.

[2021-05-24 20:59] #151 closed

[2021-05-25 08:22] ian-atkinson commented on #150
Hi,

I didn't hear back from them yet but I'm sure that will sort it,

Ian

[2021-05-28 07:50] macmule commented on #150
@ian-atkinson, ok, i'll close this off.. feel free to re-open if still an issue.

[2021-05-28 07:50] #150 closed

[2021-06-28 09:21] macmule commented on #149
Ok now:

[code]

[2021-06-28 09:21] #149 closed

[2021-07-05 13:59] macmule opened #154 "Gladinet Cloud Mac Client 12 - older version being downloaded"
Sent the below to their support:

[code]

[2021-07-05 15:07] macmule commented on #154
[code]

¯\_(ツ)_/¯

[2021-07-05 15:07] #154 closed

[2021-07-07 12:56] macmule commented on #141
Updated recently, and looks all good!

[2021-07-07 12:56] #141 closed

[2021-08-04 13:06] mtconleyuk opened #161 "Mismatched </array> tag in Suitcase Fusion 7.munki.recipe"
WARNING: plist error for /Users/admin/Library/AutoPkg/RecipeRepos/com.github.autopkg.dataJAR-recipes/Suitcase Fusion 7/Suitcase Fusion 7.munki.recipe: mismatched tag: line 96, column 6

[2021-08-04 13:09] macmule commented on #161
thanks, should be sorted now @mtconleyuk

[2021-08-04 13:09] #161 closed

[2021-08-04 15:28] macmule opened #162 "Zylia Studio"
Sent to their support:

[code]

[2021-08-05 15:48] macmule commented on #162
and they just advised this has been resolved :)

[2021-08-05 15:48] #162 closed

[2021-08-16 21:10] blackthroat opened #163 "Steel Series GG - Unable to install"
I've tried installing Steel Series GG through munki on a few machines, but didn't have any luck

[code]

[code]

However, I was able to download `SteelSeriesGG6.0.0.pkg` from `https://steelseries.com/engine/latest/darwin` and manually install on those same machines without issue.

Perhaps caused by it being a distribution package and/or preinstall/postinstall scripts that munki doesn't like?

![im

[2021-08-18 15:25] macmule commented on #163
I can recreate this issue too in Munki

[2021-08-18 15:29] macmule commented on #163
Install.log shows:

[code]

[2021-08-18 15:29] macmule commented on #163
That preinstall:

[code]

[2021-08-18 15:53] macmule commented on #163
So, with thanks to @gregneagle, the issue was found.

Basically changing the Munki Name from SteelSeriesGG to SteelSeries GG or SteelSeries will resolve this.

[2021-08-18 17:05] gregneagle commented on #163
I'd think the Munki "name" would be not as relevant/important as the the naming of the pkg file itself. There's no requirement that this match the Munki "name".

[2021-08-18 17:07] gregneagle commented on #163
IOW: change _this_: https://github.com/autopkg/dataJAR-recipes/blob/master/SteelSeries%20GG/SteelSeries%20GG.download.recipe#L26 to not use NAME...

[2021-08-18 17:09] gregneagle commented on #163
Or some other change that ensures the pkg file does not get "SteelSeriesGG" in the name, which trigger bad behavior in the pkg preinstall script.

[2021-08-18 18:29] macmule commented on #163
https://github.com/autopkg/dataJAR-recipes/blob/master/SteelSeries%20GG/SteelSeries%20GG.munki.recipe#L110-L124

I did the latter :)

Folks can choose the munki name.. but we set the pkg name

[2021-08-18 19:15] blackthroat commented on #163
After the changes, tested and working now for me. Thanks @gregneagle and @macmule!

[2021-08-19 16:13] #163 closed

[2021-08-26 12:55] macmule opened #166 "WatchGuard Mobile VPN with SS - download fails"
When trying to download the SSL client for macOS from: https://software.watchguard.com/SoftwareDownloads?current=true&familyId=a2RF00000009EXXMA2 you are redirected to a page which errors saying it's not found.

Raised with the vendor.

[2021-08-26 20:58] jarak-lvly opened #167 "filename changed for Aspera Connect download"
Hi.

Looks like the filename has changed on the IBM site.
`URLTextSearcher: Error: No match found on URL: https://d3gcli72yxqn2z.cloudfront.net/connect_latest/v4/connectversions.min.js`

Aspera Connect.download.recipe is searching for : ` IBMAsperaConnectInstaller-[0-9.]+\.dmg`
and current filename is now e.g.:  "`ibm-aspera-connect_4.0.2.38_macOS_x86_64.dmg`"

thank you

[2021-08-27 08:16] #166 closed, assigned to macmule

[2021-08-29 03:26] minorsatellite opened #168 "Recipe for Apple Silicon Version of Box Drive"
The current versions of the Box Munki recipe is for Intel only. Is there any chance that a recipe for the Beta release will be available any time soon?

[2021-08-29 08:53] macmule commented on #168
So.. we typically don't create recipes for betas.. but I had a look to see if this would be an easy thing to accommodate.. and sadly it's not.

The Box Drive recipes scrapes https://www.box.com/en-gb/resources/downloads for the download url of the pkg, only the intel pkg is available on that page.

There is a link on that page for the Silicon release, which is: https://support.box.com/hc/en-us/art

[2021-08-29 08:53] #168 closed

[2021-08-30 14:55] jarak-lvly commented on #167
Welp.  I tried to open a ticket with IBM, but I don't have a paid Aspera product account so it won't let me log a case.  We only use the Aspera connect app when required by certain clients.  I tried the forums as well, but same thing; I can view but not post.

thank you

[2021-08-31 08:20] macmule commented on #167
I presumed that this might be the case, and we'll be in the same boat.

On Mon, 30 Aug 2021 at 15:55, jarak-lvly ***@***.***> wrote:

--

Regards,

Ben

[2021-08-31 08:24] macmule commented on #121
@it-insight, please see https://github.com/autopkg/dataJAR-recipes/issues/167

[2021-09-01 10:02] macmule commented on #167
I might have a fix, asked the customer that uses this title to test.

Updates to follow.

[2021-09-02 16:40] jw-macworks opened #169 "Geekbench 5 recipe curl error: SSL cert expired"
More of an FYI than an issue with the recipe.

https://www.primatelabs.com/appcast/geekbench5.xml

Cert info
*.primatelabs.com
Issued by: Sectigo RSA Domain Validation Secure Server CA
Expired: Tuesday, August 31, 2021 at 4:59:59 PM Pacific Daylight Time

[2021-09-09 18:43] mtconleyuk opened #170 "Munki Recipe Misnamed?"
Given that the Adobe2021Importer.py script expects to find an override named 'Adobe2021Import.munki.recipe' in the RecipeOverrides folder, shouldn't the parent recipe be named 'Adobe2021Import.munki.recipe', rather than 'Adobe 2021 Import.munki.recipe'?

Also, note that when creating an override, many (most?) of us put the word override in the recipe name (e.g., 'Adobe2021Import.munki.override.rec

[2021-09-09 18:47] mtconleyuk commented on #170
Never mind; I think I'm just using this wrong.

[2021-09-09 18:47] #170 closed

[2021-09-10 19:29] macmule commented on #167
Customer has confirmed the fix, https://github.com/autopkg/dataJAR-recipes/commit/8c4959767ebc35a6ae71a8d23057d2207796f7a5

Please update the repo etc.. thanks for the report!

[2021-09-10 19:29] #167 closed

[2021-09-10 20:01] macmule commented on #169
@jw-macworks looks to be working now,, thanks for the headsup :)

[2021-09-10 20:01] #169 closed

[2021-09-19 22:03] robertryansqub opened #171 "OpenJDK 17 - change of download name and Apple Silicon release"
With JDK 17 the naming convention for the OpenJDK downloads has changed. It's now openjdk-version_macos-x64 instead of openjdk-version_osx-x64 - which is a simple change to the re_pattern.

There is, of course, also now an Apple Silicon build. Again, a simple change to the re_pattern, but that presumably involves splitting the .download recipe into Intel and ARM variants?

[2021-09-21 15:14] fkick opened #172 "Jump Desktop Connect.munki.recipe - Error in Desktop Connect: Processor: FlatPkgUnpacker"
Hello,

Recently starting getting the below error message when running the Jump Desktop Connect.munki.recipe recipe.

Error in local.munki.Jump Desktop Connect: Processor: FlatPkgUnpacker: Error: extraction of /Users/USER/Library/AutoPkg/Cache/local.munki.Jump Desktop Connect/JumpDesktopConnect.pkg with pkgutil failed: pkgutil(90146,0x7fffacc70380) malloc: *** mach_vm_map(size=246290604621824) fai

[2021-09-23 11:12] macmule commented on #171
Thanks @robertryansqub, should be sorted now.. as per https://github.com/autopkg/dataJAR-recipes/commit/a59050e8c0946a592a4f946da876f9953dcdeb6b

[2021-09-23 11:12] #171 closed

[2021-09-29 10:58] eithor opened #173 "DisplayLink download recipe fails due to changed download webpage"
DisplayLink download recipe (com.github.dataJAR-recipes.download.DisplayLink) fails to download.

Regex fails to find an URL.

Observations:
The download URL
https://www.displaylink.com/downloads

now redirects here:
https://www.synaptics.com/products/displaylink-graphics/downloads/macos

The regex needs to match the following on that page:
[code]

The download URL then becomes:
https://www.synapt

[2021-10-01 13:44] macmule commented on #172
Can't recreate, is it still an issue?

[2021-10-01 13:47] macmule commented on #173
https://github.com/autopkg/dataJAR-recipes/blob/master/DisplayLink/DisplayLink.download.recipe#L21-L29

We deprecated the recipe as no longer downloadable a week ago, please try the recommended recipe.

[2021-10-01 13:47] #173 closed

[2021-10-01 15:14] fkick commented on #172
Just tried to re-run again and got this error (after confirming the recipe was up to date):

[code]

[2021-10-01 15:19] macmule commented on #172
[code]

Any AV running on the AutoPkg host?

[2021-10-01 15:44] fkick commented on #172
I had originally had Malwarebytes running on the host which I disabled when I was first getting errors.

Running the local.download.Jump Desktop Connect recipe is successful and the pkg is created. It's the local.munki.Jump Desktop Connect recipe that is having issues bring the pkg into Munki

[2021-10-01 16:00] macmule commented on #172
@fkick not sure what to advise, as I cannot recreate the error here :(

[2021-10-01 23:58] fkick commented on #172
Thanks macmule, I wonder if there's an issue with FlatPkgUnpacker on a High Sierra host. I'll do some more digging on my end.

[2021-10-02 13:12] macmule commented on #172
@fkick oh, i'm testing on 11.6.. M1 and intel.

[2021-10-04 12:02] macmule opened #174 "EasyMeeting - Processor: URLTextSearcher: Error: No match found on URL: https://www.easymeeting.net/get-started/download/"

[2021-10-04 16:19] #174 closed

[2021-10-04 16:20] macmule commented on #172
@fkick thinking about this, the bettie place to proceed would be the #autopkg channel on the macadmins slack, which can be found at: [https://macadmins.slack.com/archives/C056155B4](https://macadmins.slack.com/archives/C056155B4)

I'll close this one off for now.

[2021-10-04 16:20] #172 closed

[2021-10-06 11:00] macmule opened #175 "Focusrite RedNet Control: Processor: URLTextSearcher: Error: No match found on URL: https://customer.novationmusic.com/en/support/downloads?brand=Focusrite+Pro&product_by_range=575&download_type=all"
Downloads might now be behind a login, reached out to clarify.

[2021-10-15 12:09] #175 closed, assigned to macmule

[2021-10-20 09:37] macmule opened #177 "AMBEOOrbit: Processor: CodeSignatureVerifier: Error: Code signature verification failed. Note that all verification can be disabled by setting the variable DISABLE_CODE_SIGNATURE_VERIFICATION to a non-empty value."
[code]

Tweeted vendor, as support site doesn't seem to have an email etc - https://twitter.com/macmuleblog/status/1450757385413332992?s=20

[2021-10-27 09:43] grg21de opened #178 "Download URL for Figma has changed"
Hello there,

I think the Download URL for Figma has changed to
https://www.figma.com/download/desktop/mac

can this pls be reviewed/changed?

Thx

[2021-10-28 13:23] macmule opened #179 "AMBEO A-B Converter: Processor: CodeSignatureVerifier: Error: Code signature verification failed. Note that all verification can be disabled by setting the variable DISABLE_CODE_SIGNATURE_VERIFICATION to a non-empty value."
Same as #177

[2021-10-29 10:12] macmule opened #180 "Audinate Dante VIA: Processor: SparkleUpdateInfoProvider: Error: Command '['/usr/bin/curl', '--compressed', '--location', 'https://software-updates-via.audinate.com/DanteVia/appcast/DanteVia-OSX.xml']' returned non-zero exit status 60."
Cert expired, emailed support.

[2021-10-29 12:05] walkintom opened #181 "Dreamweaver Failing to Import"
[code]

[2021-11-01 12:39] mikeknight85 opened #182 "Audacity download failed"
Error in com.github.dataJAR-recipes.download.Audacity: Processor: URLDownloader: Error: Command '['/usr/bin/curl', '--silent', '--show-error', '--no-buffer', '--dump-header', '-', '--speed-time', '30', '--location', '--url', 'https://university.fosshub.com/Protected/5b7eee97e8058c20a7bbfcf4/617a79633af10152701eebbd/audacity-macos-3.1.0-Intel.dmg', '--fail', '--output', 'Library/AutoPkg/Cache/com.g

[2021-11-01 12:43] macmule commented on #182
@mikeknight85 did you follow the steps in the description?

https://github.com/autopkg/dataJAR-recipes/blob/master/Audacity/Audacity.download.recipe#L5-L11

[2021-11-01 16:15] JackieButtons opened #183 "AdobeAfterEffects2021 fail - sap code AEFT not in Adobe2021Versioner"
[adobe2021_report.txt](https://github.com/autopkg/dataJAR-recipes/files/7454621/adobe2021_report.txt)

[2021-11-02 09:50] JackieButtons commented on #183
It appears that all Adobe apps I have tried fail with the same error - Audition, PremierePro, MediaEncoder

[2021-11-02 11:11] macmule commented on #183
Can you supply the info.plist for each of these, once installed on a device?

On Tue, 2 Nov 2021 at 09:50, JackieButtons ***@***.***> wrote:

--

Regards,

Ben

[2021-11-02 14:29] JackieButtons commented on #183
Currently working from home, but will attempt to provide this information tomorrow (3rd Nov) as I am on-site.

[2021-11-02 17:36] rrwitt commented on #181
Echoing this and getting similar issues with Premiere Pro and After Effects

[2021-11-03 14:53] JackieButtons commented on #183
Here are the 3 I have managed to do today.  Hope these help.

 
 

Sent: Tuesday, November 02, 2021 at 11:11 AM
From: "macmule" ***@***.***>
To: "autopkg/dataJAR-recipes" ***@***.***>
Cc: "JackieButtons" ***@***.***>, "Author" ***@***.***>
Subject: Re: [autopkg/dataJAR-recipes] AdobeAfterEffects2021 fail - sap code AEFT not in Adobe2021Versioner (Issue #183)

 
Can you supply the info.plist for ea

[2021-11-03 18:03] mtconleyuk opened #184 "Recipe for AdobeAcrobatDC2021 always adds new installer to Munki, reports no installation check"
I'm using the Import Adobe 2021 Title recipe to import Adobe Acrobat DC 2021 into Munki. As far as I can tell, I have things set up correctly:-

- I generated an installer package from the Adobe admin console and named it AdobeAcrobateDC2021. It generated a .zip file named AdobeAcrobateDC2021_en_US_MAC.zip.
- I expanded the .zip file and put the resulting folder, named AdobeAcrobatDC2021, into my

[2021-11-03 18:20] neilmartin83 commented on #184
If you run a makecatalogs after running this recipe, then re-run, does it import a duplicate package then?

[2021-11-03 18:22] mtconleyuk commented on #184
Yes.

[2021-11-05 14:13] macmule commented on #183
@JackieButtons were you trying with the 2022 releases?

[2021-11-05 14:14] macmule commented on #181
@walkintom this should be sorted now for Dreamweaver.. please repo update

@rrwitt I cannot recreate with After Effects 2021.. will test with Premiere in a sec

[2021-11-05 17:15] macmule commented on #181
@rrwitt Premiere Pro worked for me:

[code]

[2021-11-05 17:17] macmule commented on #184
@mtconleyuk cannot recreate here.. can you post the output of: `autopkg run -vv <recipe identifier>`

[2021-11-05 17:17] macmule commented on #183
I can import 2021 successfully here

[2021-11-05 17:22] macmule commented on #178
@grg21de that URL seems to download an older version, as it was updated in June vs the URL in the recipe which downloads a title which was updated in October.

[2021-11-05 17:47] mtconleyuk commented on #184
That's the content of the AdobeAcrobatDC2021 AutoPkg Transcript.txt file uploaded above.

[2021-11-05 17:48] mtconleyuk commented on #184
[Deleted previous reply, as I was incorrect.]

The file AdobeAcrobatDC2021 AutoPkg Transcript.txt contains the output of the Adobe2021Importer.py run, but I'll upload the autopkg run as well in a minute.

[2021-11-05 17:55] mtconleyuk commented on #184
[Autopkg AdobeAcrobatDC2021 Run.txt](https://github.com/autopkg/dataJAR-recipes/files/7488002/Autopkg.AdobeAcrobatDC2021.Run.txt)

[2021-11-05 18:09] walkintom commented on #181
Dreamweaver working as expected :) cheers.

[code]

[2021-11-06 10:17] JackieButtons commented on #183
Hi there.  Yes I was trying the 2022 releases. Unfortunately as our student users buy the latest student version we have to keep up with them.

[2021-11-06 11:15] macmule commented on #181
thanks for confirming @walkintom

@rrwitt, if you're still having issues and they are the 2021 titles you've tried with.. please raise another issue

[2021-11-06 11:15] #181 closed

[2021-11-06 11:17] macmule commented on #183
@JackieButtons ok, well the recipes etc only work with there 2021 titles.. hence the name.. 2022 to come.. the delay is that the files in the pkg are encrypted and so need to actually create.. build, download and install the whole suite on a device and test.. which will take a day or so..

[2021-11-06 11:17] #183 closed

[2021-11-06 11:21] macmule commented on #184
[code]

Hmm.. there is an installs array.. I've tested on 3 devices and cannot recreate the issue.. can you post your override?

[2021-11-06 11:22] macmule commented on #182
@mikeknight85 This will likely be sorted with the above steps being followed.. if not.. re-open

[2021-11-06 11:22] #182 closed

[2021-11-06 11:24] macmule commented on #180
resolved

[2021-11-06 11:24] #180 closed

[2021-11-06 13:36] mtconleyuk commented on #184
Okay, I think I found it. It's the force_install keyword, which the Wiki says is necessary to support multiple architectures. It's set to true, but if I set it to false the problem goes away. I assume, then, that if I don't care about multiple architectures, it's safe to leave it at fals
[AdobeAcrobat2021DC.munki.recipe.zip](https://github.com/autopkg/dataJAR-recipes/files/7490528/AdobeAcrobat2021

[2021-11-07 12:02] JackieButtons commented on #183
Adobe's naming convention, application folders, and actual file version are so inconsistent.  After Effects is version 22 but it exists in folder "Adobe After Effects 2020".  Animate is version 22 but is in folder "Adobe Animate 2021"

 
 

Sent: Saturday, November 06, 2021 at 11:17 AM
From: "macmule" ***@***.***>
To: "autopkg/dataJAR-recipes" ***@***.***>
Cc: "JackieButtons" ***@***.***>, "Mentio

[2021-11-08 09:17] macmule commented on #184
Ah, yes!

There are some PR's around changing munkiimporter to allow for different
archs, which once merged and and autopkg release containing these changes
is released.. then the keys will not be needed indeed.

On Sat, 6 Nov 2021 at 13:36, mtconleyuk ***@***.***> wrote:

--

Regards,

Ben

[2021-11-08 13:22] mtconleyuk commented on #184
Well, that's not it after all. If I set force_install to false in my override (above), and then delete the package from Munki and run the autopkg override recipe, the package never gets installed in Munki's repo, even if I manually run makecatalogs. So that explains why the duplication doesn't happen: nothing's being installed at all.

[2021-11-08 13:55] mtconleyuk commented on #184
Here's the transcript of a run after having removed the Acrobat package from Munki's repo and set the autopkg override recipe to use force_install set to false. Note that the makecatalogs call does not add AdobeAcrobatDC2021 to any of Munki's catalogs, and autopkg reports 'Nothing downloaded, packaged or imported.'

[Autopkg Acrobat no force_install.txt](https://github.com/autopkg/dataJAR-recipes/

[2021-11-09 14:07] grg21de commented on #178
I see, but the Figma Recipe seems not to work as intended, at least in my environment:

`Command '['/usr/bin/curl', '--silent', '--show-error', '--no-buffer', '--dump-header', '-', '--speed-time', '30', '--location', '--url', 'https://desktop.figma.com/mac/%NAME%.zip', '--fail', '--output', '/Users/vankann/Library/AutoPkg/Cache/local.munki.Figma/downloads/tmp78fjt5ef']' returned non-zero exit stat

[2021-11-10 15:21] mtconleyuk commented on #184
Hm. Never mind. Setting force_install to false does, in fact, seem to be working. I'm closing this, although it might be nice to make this a bit more obvious in the documentation.

[2021-11-10 15:21] #184 closed

[2021-11-14 13:06] pexner opened #185 "Suitcase recipe needs updates please (infos inside)"
Hi. Could you please update the Suitcase Fusion recipe?
DL URL: `http://bin.extensis.com/SuitcaseFusion-M-22-0-0.dmg`
Needs also a postinstall-script to install the included PlugIns:
[code]
Thanks in advance,

Patrick

[2021-11-15 18:20] walkintom opened #186 "Enhancement Tweak for Adobe Import 2021.munki.recipe"
Would it be viable to change `<key>unattended_install</key>` and `<key>unattended_uninstall</key>` from `true` to `false`? As `<key>RestartAction</key>` is already set to `RequireLogout`, that voids the unattended install and uninstall keys being set to true.

https://github.com/autopkg/dataJAR-recipes/blob/d3b47c5060526e0b0990dd24ea7e04387d08e239/Adobe%202021/Adobe%202021%20Import.munki.recipe#L4

[2021-11-16 12:06] macmule commented on #186
https://github.com/munki/munki/wiki/Supported-Pkginfo-Keys

[code]

Might as well remove altogether

[2021-11-16 12:06] macmule commented on #186
Done!

[2021-11-16 12:06] #186 closed

[2021-11-16 12:11] macmule commented on #178
@grg21de I'm not sure what to advise here.. the recipe works here.. so there must be something local..

I'll close this one off and good luck!

[2021-11-16 12:11] #178 closed

[2021-11-17 14:56] macmule commented on #185
Added - https://github.com/autopkg/dataJAR-recipes/tree/master/Suitcase%20Fusion%2022

Let us know if any issues.

[2021-11-17 14:56] #185 closed

[2021-12-08 19:57] everetteallen opened #192 "Adobe 2022 now created in admin console"
So these recipes still work but I noticed today when creating packages in the Adobe Admin console the installers lay them down as Adobe XXXX 2022 not 2021.  Are there plans to make a now set or recipes?

[2021-12-09 22:10] everetteallen opened #193 "With Adobe 2022 packages Lightroom (non-classic) fails to lookup SAP code"
Apple Silicon version
The following recipes failed:
    local.jss.Adobe_Lightroom_2021_amac
        Error in local.jss.Adobe_Lightroom_2021_amac: Processor: Adobe2021Versioner: Error: Checking app_json for version details but sap code LRCC, is not within the known list of apps which we know to check via their Application.json

The Apple Intel version same error
    local.jss.Adobe_Lightroom_2021_m

[2021-12-09 22:11] everetteallen commented on #192
A clone of the repo and a global search and replace of 2021 with 2022 works as a work-around.

[2021-12-09 22:37] fseesink opened #194 "Postman now offers both x64 and ARM64 binaries (at least as of 9.4.0)"
More of a question than an issue.

Currently the Postman munki recipe is pulling down the Intel x64 binary only. Starting with Postman v9.4.0, I noticed they have both x64 and ARM64 specific binaries.

I was just wondering if you intend to add support for the ARM64 binaries?

The current `Postman.download.recipe` uses the downoad URL:

`https://dl.pstmn.io/download/latest/osx`

But looking at this

[2021-12-10 01:29] redshirtdave opened #195 "Update Miro to include arm64 option"
Miro now offer seperate builds for x64 and arm64. Please add option to specify which build is required.

Download website: https://miro.com/apps/
x64: https://desktop.miro.com/platforms/darwin-arm64/Miro.dmg
arm64: https://desktop.miro.com/platforms/darwin-arm64/Miro.dmg

Thanks :)

[2021-12-10 22:42] macmule commented on #192
There will be 2022 recipes.. and some changes.. I wanted to map these values for 2022 to make sure correct:

https://github.com/autopkg/dataJAR-recipes/blob/master/Adobe%202021/Adobe2021Versioner.py#L418-L468

There are also some titles which are continuous release and not annual

[2021-12-10 22:43] macmule commented on #193
@everetteallen so is this a 2021 version or 2022?

[2021-12-11 13:48] everetteallen commented on #193
2022 just running under the "old" recipe name

[2021-12-11 14:01] macmule commented on #193
ok.. so sort of related to #192 and really not an issue with the 2021 recipes, more than we need to update for 2022.

[2021-12-11 14:01] #193 closed

[2021-12-18 04:12] flammable opened #196 "Feature request: specify folder for Adobe packages"
Thanks for the Adobe recipes! I haven't used them up until now, preferring to do the packaging manually...but honestly, it just takes too much time. Now that I'm being asked to build Adobe packages more frequently (argh), these should be a huge help. Thanks!

From checking out the README, I noticed that things are hardcoded to `~/Downloads`. Would it be possible to allow for overriding this to ano

[2021-12-21 11:39] macmule commented on #196
I'm rejigging those recipes.. for 2021+.. will look to add

[2021-12-21 21:33] flammable commented on #196
Thanks @macmule!

[2022-01-10 15:31] macmule commented on #196
Welp, looks like `--report-plist` overwrites the content of `--report-plist` with every run.. with a run being either a recipe list or a single recipe...

..and that report is processed by us to report on the run, internally.. so without a major rewrite for something we'll not use.. we can't add this without breaking functionality we need, sorry!

[2022-01-10 15:31] #196 closed

[2022-01-10 15:52] flammable commented on #196
Oof. I'm not a Python programmer, but can I manually change `DOWNLOADS_PATH` (in Adobe2021Importer.py) and `download_path` (in Adobe2021Versioner.py) to another path?

I might try adding a symlink to my external drive in ~Downloads, then modifying both scripts to point to the symlink. That seems easier than specifying an entirely different path.

[2022-01-10 18:25] macmule commented on #196
Might work, not sure.

There isn’t much error handling around the paths, as ~/Download should
exist.

On Mon, 10 Jan 2022 at 15:52, Mike Solin ***@***.***> wrote:

--

Regards,

Ben

[2022-01-14 11:16] macmule opened #197 "USS Agent - Processor: URLTextSearcher: Error: Command '['/usr/bin/curl', '--compressed', '--location', 'https://downloads.clouduss.com/macosx/?C=M;O=D']' returned non-zero exit status 60."
Cert expired last night, emailed vendor.

[2022-01-14 11:31] macmule opened #198 "EarMaster 7 Beta - URLDownloader: Error: returned non-zero exit status 22."
`URLDownloader: Error: Command '['/usr/bin/curl', '--silent', '--show-error', '--no-buffer', '--dump-header', '-', '--speed-time', '30', '--location', '--url', 'https://www.earmaster.com/download/EarMaster7_beta.pkg', '--fail', '--output', '/Users/ben/Library/AutoPkg/Cache/com.github.dataJAR-recipes.download.EarMaster 7 Beta/downloads/tmpd8s0fodu']' returned non-zero exit status 22.
`

Download fa

[2022-01-14 12:31] macmule commented on #198
Resolved!

[2022-01-14 12:31] #198 closed

[2022-01-17 10:44] macmule commented on #197
Resolved

[2022-01-17 10:44] #197 closed

[2022-01-18 08:42] opus-nbo commented on #192
is there a status on the Adobe CC 2022 recipes?

[2022-01-18 09:22] macmule commented on #192
Still being built out.. heads up.. someone will need to write jss/jamf
recipes

On Tue, 18 Jan 2022 at 08:42, opus-nbo ***@***.***> wrote:

--

Regards,

Ben

[2022-01-18 11:34] macmule opened #199 "Clevershare2: Processor: URLTextSearcher: Error: Command '['/usr/bin/curl', '--compressed', '--location', 'https://archive.clevertouch.com/clevershare2g']' returned non-zero exit status 60."
The certificate https://archive.clevertouch.com for expired Saturday, 15 January 2022 at 23:59:59 Greenwich Mean Time, raised with vendor,

[2022-01-19 15:22] flammable opened #202 "Code42 now has separate Intel and Apple Silicon downloads"
Hey hey! Just following up from a Slack discussion with @macmule - Code42 8.8.2 is out now, and there are two separate downloads for Intel and Apple Silicon. The Intel one is the same:

`https://download.code42.com/installs/agent/latest-mac.dmg`

The Apple Silicon one is new:

`https://download.code42.com/installs/agent/latest-mac-arm64.dmg`

Would it be possible to split the AutoPkg recipes to ha

[2022-01-21 12:52] #199 closed

[2022-01-24 18:01] gddlabtech commented on #192
I did try this but failed, was there one file or line of text that should have remained 2021?

[code]

[2022-01-25 14:10] macmule commented on #192
@gddlabtech sorry, can't help.. we're working on something else, but it's in progress

[2022-01-27 15:48] mikedowler commented on #202
Could we just move the URL into a variable?  That way, we could override it in our recipes if we wanted.  I think the hope is the Code42 will see the error of their ways and start producing a universal installer pretty soon, so it makes sense to stick with a single recipe if we can.

[2022-01-27 20:48] flammable commented on #202
From the feedback in the Slack channel so far, it sounds like they're pushing forward with separate installers. :(

That said, if the URL was a variable, could I just create two overrides? One for Intel, and one for Apple Silicon? I'd need to set the `supported_architectures` pkginfo key for each, too (since I use Munki). If that's the case, I think that'd be a good solution.

[2022-01-29 00:50] dwosk commented on #121
@macmule @symmtree @Daz-wallace @n8felton @floriangeyer

I'm one of the developers on the Aspera Connect team here at IBM. I'm actually working on a new PKG installer currently - I'd love some feedback and to know what would make it easier for you to use. Shoot me an email (dwosk@us.ibm.com) if you want.

[2022-02-03 20:19] eshirk opened #203 "Switch back to Anaconda.download recipe"
Per  PR #189, please switch back to using the original Anaconda.download parent recipe (https://github.com/autopkg/hansen-m-recipes/issues/206). Thanks!

[2022-02-07 15:07] macmule commented on #202
@paul-cossey, wasn't this sorted?

[2022-02-07 19:01] flammable commented on #203
Thanks, just ran into this, too. Here's the current location of the .download recipe:

https://github.com/autopkg/hansen-m-recipes/blob/master/Continuum/Anaconda.download.recipe

[2022-02-07 22:28] flammable commented on #202
Thanks, I see the arm64 recipes now!

Probably not a bad idea to add `supported_architectures` to the Intel one. I did that in my override. Both recipes work great!

[2022-02-09 09:56] ygini commented on #203
Same issue here

[2022-02-23 13:58] macmule opened #205 "Error in com.github.dataJAR-recipes.download.Wondershare Filmora X: Processor: CodeSignatureVerifier: Error: Error processing path '/private/tmp/dmg.EZflP7/Wondershare Filmora X.app' with glob."
Now an installer app
<img width="752" alt="Screenshot 2022-02-23 at 13 47 04" src="https://user-images.githubusercontent.com/2464974/155333759-4178063c-749a-4cd3-8d63-18b7f0bdb394.png">

[2022-02-25 12:14] macmule opened #206 "GoProFXReframePlugin: Processor: URLTextSearcher: Error: No match found on URL: https://community.gopro.com/t5/en/GoPro-FX-Reframe/ta-p/412890"
Looks like download url is now a javascript page.. and the download is now on salesforce.. likely we'll need to remove this recipe

[2022-02-28 16:59] paul-cossey commented on #205
Resolved with:  https://github.com/autopkg/dataJAR-recipes/commit/eb4a214916d97e249553281328962f4774528d30

[2022-02-28 16:59] #205 closed

[2022-03-01 10:56] paul-cossey opened #207 "Godot 3"
Gotdot 3's [website](https://godotengine.org/download/osx) is currently down due to a hardware failure:

Website under maintenance

The website is being currently down due to a hardware failure from the hosting provider. In the meantime, use these links:

Downloads

[All downloads on TuxFamily](https://downloads.tuxfamily.org/godotengine/) (mirror on [GitHub Releases](https://github.com/godotengin

[2022-03-01 17:04] paul-cossey commented on #207
Hardware fault has been resolved by the vendor, and the website is now back.

[2022-03-01 17:04] #207 closed

[2022-03-11 23:14] rtrouton opened #209 "Vmware Fusion 12 download recipe erroring"
I'm seeing an error when running `VMware Fusion 12.download.recipe`:

[code]

Full verbose output below:

[code]

[2022-03-14 20:33] rtrouton commented on #209
When connecting to https://my.vmware.com/channel/public/api/v1.0/products/getRelatedDLGList?locale=en_US&category=desktop_end_user_computing&product=vmware_fusion&version=12_0&dlgType=PRODUCT_BINARY in a browser, the following output is received:

[code]

[2022-03-15 14:25] nstrauss commented on #203
+1

Adding a comment here to push for getting https://github.com/autopkg/dataJAR-recipes/pull/208 merged.

[2022-03-16 14:21] dan-snelson commented on #209
We, too, are observing the same issue:

[code]

[https://my.vmware.com/channel/public/api/v1.0/products/getRelatedDLGList?locale=en_[…]ting&product=vmware_fusion&version=12_0&dlgType=PRODUCT_BINARY](https://my.vmware.com/channel/public/api/v1.0/products/getRelatedDLGList?locale=en_US&category=desktop_end_user_computing&product=vmware_fusion&version=12_0&dlgType=PRODUCT_BINARY)

`{"dlgEditionsLists

[2022-03-16 22:34] paul-cossey commented on #202
Resolved by https://github.com/autopkg/dataJAR-recipes/commit/d1855b38ce0f8adf3fa41840e2d6ce9906da088e

[2022-03-16 22:34] #202 closed

[2022-03-17 09:39] paul-cossey commented on #203
Thanks for the PR @hfike

Resolved with https://github.com/autopkg/dataJAR-recipes/commit/6ee8d037da7a00a1fcae97e517c3118bff043e07

[2022-03-17 09:39] #203 closed

[2022-03-17 12:03] paul-cossey commented on #195
Hi, @redshirtdave

The download recipe already had a url variable, but I've updated the description with the url's to use for x86_64 and arm_64 to make things clearer.

https://github.com/autopkg/dataJAR-recipes/commit/72eb29f837ab1de109c093f95f1a8eec5ddfc30a

[2022-03-17 12:03] #195 closed

[2022-03-17 12:41] paul-cossey commented on #194
Hi, @fseesink

This has been resolved in commit: https://github.com/autopkg/dataJAR-recipes/commit/885ab794db5007bb8d83fd2aa06edbdde3f5b9f7

[2022-03-17 12:41] #194 closed

[2022-03-21 14:33] paul-cossey opened #211 "Apache NetBeans"
Apache NetBeans 12 is now on Apache NetBeans 13, but there isn't an available installer for macOS yet.

https://netbeans.apache.org/download/nb13/nb13.html

[2022-03-21 22:09] Chalcahuite commented on #209
Chiming in, with a me too. Not sure if it's relevant, since it's been quite a while since I've needed to actually download Fusion, but downloading the .dmg and feeding it to the recipe with `autopkg run -vv -p ~/Downloads/VMware-Fusion-12.2.3-19436697_x86.dmg 'VMWare Fusion 12.jss'` also fails. Output doesn't seem to recognize that I've supplied a file:

Processing VMWare Fusion 12.jss...
WARNING:

[2022-03-22 15:31] macmule commented on #209
@Chalcahuite, @dan-snelson and @rtrouton the .download was updated earlier today.. is this now resolved?

[2022-03-22 16:58] dan-snelson commented on #209
Confirmed resolved, @macmule; thanks big bunches!

[2022-03-23 16:13] macmule commented on #209
Awesome, thanks folks!

[2022-03-23 16:13] #209 closed

[2022-03-27 11:18] macmule commented on #192
Hi folks, so we now have https://github.com/autopkg/dataJAR-recipes/tree/master/Adobe%20Admin%20Console%20Packages

Only munki recipes are there, but the building blocks are there for folks to create others.

[2022-03-27 11:18] #192 closed

[2022-03-27 11:19] macmule commented on #211
@paul-cossey 13 is now there :)

[2022-03-29 10:28] paul-cossey commented on #211
Apache NetBeans 12 pointed to the v12 archive and new v13 Recipes have been created

https://github.com/autopkg/dataJAR-recipes/tree/master/Apache%20NetBeans%2013

[2022-03-29 10:28] #211 closed

[2022-04-05 15:22] paul-cossey opened #213 "Fontlab 7"
Fontlab 7 has a dependancy on Python 2.7 which has been removed from macOS as of version 12.3.

The latest Fontlab 7 package comes with a Python 2.7 installer. Due to the multiple know vulnerabilities it's not a recommend install.

[2022-04-07 15:32] paul-cossey opened #214 "UPDDCommander"
UPDDCommander has install scripts that are Python 2 dependant.

If installing on a macOS 12.3 and above the install will look as if it's finished but will be missing some apps and LaunchDaemons.

Ticket has been raised with the vendor

[2022-04-11 13:10] rtrouton opened #216 "Vmware Fusion 12 download recipe erroring"
I'm seeing an error when running `VMware Fusion 12.download.recipe`:

```No match found on URL: https://my.vmware.com/channel/public/api/v1.0/products/getRelatedDLGList?locale=en_US&category=desktop_end_user_computing&product=vmware_fusion&version=12_0&dlgType=PRODUCT_BINARY```

It appears the following output changed. From:

```{"dlgEditionsLists":[{"name":"VMware Fusion 12.2.3","dlgList":[{"name

[2022-04-12 13:15] paul-cossey commented on #216
Hi, Rich

This should be resolved with this commit: https://github.com/autopkg/dataJAR-recipes/commit/1377b24f89169354342e2235d490ad85e38c69c1

Could you give it a test for me please?

Thanks
Paul

[2022-04-12 13:33] rtrouton commented on #216
Yes, it looks fixed now. Thank you!

[code]

[2022-04-12 13:33] #216 closed

[2022-05-03 13:40] precursorca opened #217 "Splashtop SOS download parent is deprecated"
The parent recipe for download of Splashtop SOS by nstrauss (com.github.nstrauss.download.SplashtopSOS) states:

"This recipe is outdated and will stop working in the future. Please switch to Peet McKinney's recipes available https://github.com/autopkg/peetinc-recipes/tree/master/SplashtopSOS"

[2022-05-09 14:02] #177 closed

[2022-05-09 14:02] #179 closed

[2022-05-09 14:02] #206 closed

[2022-05-11 15:23] paul-cossey opened #218 "AcronisFilesConnect"
SSL certificate has expired on the download URL
[code]
<img width="741" alt="Screenshot 2022-05-11 at 16 02 35" src="https://user-images.githubusercontent.com/16046272/167887249-df8ce5d8-8bd9-4aee-b61a-bcf072ac0862.png">

[2022-05-13 10:28] #217 closed

[2022-05-13 16:50] prausch opened #219 "Suitcase Fusion is now Connect Fonts Powered By Suitcase"
The Sparkle URL is just incremented to 23 from 22, but putting that in an override doesn't work, as the application name has changed, I assume.

[2022-05-18 12:11] Daz-wallace opened #220 "PostgreSQL 14.pkg.recipe output is intel only"
Heya Chaps!

Looks like the PostgreSQL 14.pkg.recipe recipe is hardcoded in the post-install script to use the Intel binary install:
`"${install_dir}/postgresql-14.2-1-osx.app/Contents/MacOS/osx-x86_64" --unattendedmodeui none --mode unattended`

For Apple Silicon this should be:
`"${install_dir}/postgresql-14.2-1-osx.app/Contents/MacOS/osx-arm64" --unattendedmodeui none --mode unattended`

Not su

[2022-05-19 11:43] paul-cossey commented on #220
Hi, @Daz-wallace!

Nice spot, thanks for that 👍

I've changed the `postinstall` script so that it now calls `installbuilder.sh` as it has logic already built in to check for the architecture.

I've just tested this commit https://github.com/autopkg/dataJAR-recipes/commit/86ef77a8965fba1ce6a9ede9f5b1745e0a3a8d09 on X86_64 and arm64 mac's. Can you give it a check and let me know if works for you ple

[2022-05-19 12:16] paul-cossey commented on #219
Hi, @prausch

Thanks, for this. Yeah the change in name will effect the recipes.

I've just created some new ones for Connect Fonts here: https://github.com/autopkg/dataJAR-recipes/tree/master/Connect%20Fonts

Thanks
Paul

[2022-06-06 10:01] #219 closed

[2022-06-06 10:20] paul-cossey commented on #121
Morning, @dwosk

Thanks for the offer of help! We're having some issues scraping a URL again, I've just emailed you with the details.

Thanks,
Paul

[2022-06-06 11:16] paul-cossey opened #223 "Pencil"
[PENCIL PROJECT](http://pencil.evolus.vn/)

Unable to download from the vendors website, either via `curl` or web browser.

[code]

[2022-06-08 08:35] paul-cossey commented on #121
Thanks for your help, @dwosk :-)

Resolved with this commit: https://github.com/autopkg/dataJAR-recipes/commit/4de271ef81ea16f43eaf92b8560ba901f7f7361e

[2022-06-08 08:35] #121 closed

[2022-06-08 09:32] paul-cossey opened #224 "Ultimaker Cura"
Info.plist doesn't have the correct versioning info in.

Issue has been raised with the vendor here: https://github.com/Ultimaker/Cura/issues/12474

[2022-06-08 23:32] Honestpuck opened #225 "Citrix Files for Mac.pkg has a problem for downstream processors."
The recipe uses the FileMover processor to rename the package from `Citrix Files for Mac.pkg` to `Citrix Files for Mac-24.4.pkg` (or other version number). That processor doesn’t update the `pkg_path` variable so there is a version number in the new file name but not in  `pkg_path`. This causes problems for downstream processors such as my `JPCImporter` or Graham Pugh's `JamfUploader`

Replace `Fi

[2022-06-09 12:23] Honestpuck commented on #225
I actually found 6 `.pkg` recipes in the repo with this problem. Give me a few days and I will submit a PR.

[2022-06-09 12:53] macmule commented on #225
@Honestpuck tbh, we don't use the jamf or many of the pkg recipes and are long term looking to remove.

We could deprecate them and you take them on?

Alternately, you could use the [FileFinder](https://github.com/autopkg/autopkg/wiki/Processor-FileFinder) processor to find the pkg's in the upstream recipes.

[2022-06-09 15:23] paul-cossey commented on #223
Vendor has resolved the issue and the App now downloads as expected

[2022-06-09 22:09] Honestpuck commented on #225
OK. I will fix it locally in the recipe I'm using.

[2022-06-09 22:09] #225 closed

[2022-06-13 15:38] paul-cossey commented on #218
The download site http://support.grouplogic.com/ has now migrated to new Acronis infrastructure.

The new software download page is: https://www.acronis.com/products/file-sync-and-share-downloads but the download now requires the inputting of a serial number before the download can start.

I've asked the vendor is there is a way to download without a serial. If there isn't we'll need to depreciate

[2022-06-14 08:08] paul-cossey commented on #218
Vendor has conformed the download is only available to customers with an active support contract.

Recipes depreciated: https://github.com/autopkg/dataJAR-recipes/commit/5592f533b223b26a32a8e119f488f187e79701e4

[2022-06-14 08:08] #218 closed

[2022-06-23 10:47] adrienlabigne opened #227 "Figma recipe download ARM version"
Hello,

The download recipe systematically takes the ARM version while the recipe does not specify the version.

<dict>
		<key>NAME</key>
		<string>Figma</string>
		<key>url</key>
		<string>https://desktop.figma.com/mac-arm/Figma.zip</string>
</dict>

It would be appropriate to make an ARM version and an Intel version no?

Thanks

[2022-06-29 16:05] paul-cossey opened #228 "Code42"
The Code42 download recipe is pulling down version 8 and isn't pulling down the most recent version which is 10.

Version 10 is currently only available from behind a login window.

[2022-06-29 16:15] paul-cossey commented on #227
Hi, @adrienlabigne

The [Figma download recipe](https://github.com/autopkg/dataJAR-recipes/blob/master/Figma/Figma.download.recipe) has support for downloading both arm64 and x86_64 versions via the url variable.

You can specify which you'd like to download in your override.

[code]

[2022-07-04 15:11] adrienlabigne opened #229 "Acrobat DC"
Hello,

I am unable to import Acrobat Pro DC (APRO) 22.0 to my Munki repo with the Adobe Admin Console Packages recipe.
I have my AdobeAcrobatDC folder in ~/Downloads, I run ./AdobeAdminConsolePackagesImporter.py and the script creates the dmg, adds them to my Munki repo, but the script blocks on one step (attachment).
I let it run for several hours, but it doesn't work anymore, and never creates

[2022-07-07 10:03] paul-cossey commented on #224
5.1 is in Beta - checked the `Info.plist` and it's still showing the `CFBundleShortVersionString` as version `0.0.0`

[code]

[2022-07-11 11:04] paul-cossey commented on #224
The versioning _should_ be fixed in the next stable release.

https://github.com/Ultimaker/Cura/commit/c100f68f58d0c39b9f6b70df32edb2a4b3ca40c6

[2022-07-23 11:57] workflowsguy opened #231 "warnings from renpy 8.download.recipe"
Since a few days, for every Autopkg recipe I execute,

`WARNING: plist error for /Volumes/Web/Softwareverteilung/Recipe-Repositories/com.github.autopkg.dataJAR-recipes/renpy 8/renpy 8.download.recipe: Invalid file`

keeps getting output repeatedly (8-10 times).

[2022-07-23 16:18] homebysix commented on #231
@workflowsguy Could you provide the output of this command?

[code]

Checking to see whether your local version is different than the latest master branch on GitHub.

[2022-07-24 07:22] workflowsguy commented on #231
The output is this:
[code]

[2022-07-24 22:29] homebysix commented on #231
As suspected, it looks like there are some changes in that repo that don't align with what's on GitHub. It's not a good idea to modify the contents of recipe repos directly, as it will prevent `autopkg repo-update` and `autopkg update-trust-info` from working as expected. If these changes were unintentional, I would suggest running `repo-delete` and then `repo-add` on the dataJAR-recipes repo to s

[2022-07-25 08:31] #224 closed

[2022-07-25 15:56] workflowsguy commented on #231
Well, this is weird.

I am, of course, well aware that modifications to recipes are done by way of overrides (have already done quite a few of them) and not by directly modifying their source.
Also, I don't even know what program "renpy" is so had no reason to edit it's recipe files.
And nobody except me has access to the server where the munki repository is stored.

So, I can only suspect that th

[2022-07-25 15:56] #231 closed

[2022-07-29 14:45] #227 closed

[2022-08-08 13:41] andrewvalentine opened #234 "Issue with Post Haste.pkg"
[code]
This appears to be the section causing the problem:

[code]

Should the `source_path` not just be `%pathname%`?

[2022-08-08 14:23] macmule opened #235 "Integration test"
issue body

[2022-08-08 14:24] #235 closed

[2022-08-08 23:19] MLBZ521 commented on #224
The app itself was fixed, but they changed the plist key that contains the version so the recipe is still broken.  I just submitted #236 to fix that.

[2022-08-11 09:22] paul-cossey commented on #234
Morning, @andrewvalentine

_Should_ be fixed with this [commit](https://github.com/autopkg/dataJAR-recipes/commit/a5d68c9bb522ef4f5cb99197133c3fcaa9c5d8ec) could you give it a test and let me know if the recipe runs ok for you?

Thanks

[2022-08-19 05:34] andrewvalentine commented on #234
Sorry for delay. Looks fine now!

[code]

[2022-08-19 10:32] #234 closed

[2022-08-23 08:25] #214 closed

[2022-08-23 08:44] paul-cossey commented on #213
Recipes have been deprecated.

[2022-08-23 08:44] #213 closed

[2022-08-23 08:50] paul-cossey commented on #229
Hi, @adrienlabigne

Are you still seeing this issue?

[2022-09-01 15:34] Daz-wallace opened #239 "PostgreSQL 13 unable to find match"
Looks like a similar change needed to PostgreSQL 14
PR incoming!

[2022-09-01 15:59] paul-cossey commented on #229
It's working for us, I imported Acrobat DC just the other day.

Are you using the latest version of `AdobeAdminConsolePackagesImporter.py`? And what version of Autopkg are you running?

[2022-09-02 08:07] adrienlabigne commented on #229
Arf…

Yes, I pull all DataJAR repo on my computer and paste the new files, and same error.
Autopkg 2.7

I'll try on my other computer for this package.

[2022-09-02 08:50] adrienlabigne commented on #229
Same error on my second computer (Macbook Pro M1 Pro). I'll try to import manually the packages to see

[2022-09-05 10:31] adrienlabigne commented on #229
Hi, I successfully import manually this 2 dmg created with the script.
If you want take control of my computer one time to see, or some logs, tell me, If I can help ;)

[2022-09-05 10:31] #229 closed

[2022-09-13 15:44] paul-cossey opened #241 "Ladibug website is down"
The Ladibug recipes are currently failing due to the vendors website being down for the last week or so.

<img width="546" alt="Screenshot 2022-09-13 at 16 40 25" src="https://user-images.githubusercontent.com/16046272/189946398-f1517300-6044-4fd6-8f02-aa4f5a92d5b8.png">

[2022-09-15 13:07] paul-cossey commented on #241
Website is back now. Closing issue.

[2022-09-15 13:07] #241 closed

[2022-09-15 19:13] TSPARR opened #243 "Perimeter 81 Downloading Older Version"
Looks like the Perimeter 81 recipe is downloading a fairly old version of the app. The latest is available here: [PKG](https://static.perimeter81.com/agents/mac/Perimeter81_8.0.5.143.pkg)

That came from scraping this page: https://support.perimeter81.com/v1/docs/downloading-the-agent

Could try opening a ticket with them to update their static link or maybe just move to scraping the page?

[2022-09-16 16:25] paul-cossey commented on #243
Thanks for the heads up, @TSPARR

This commit: https://github.com/autopkg/dataJAR-recipes/commit/29dd88e0309e939b550e36e2505ce09babc68629 should now download the latest version. Can you give it a test and let me know if it works for you please?

Thanks
Paul

[2022-09-16 16:32] TSPARR commented on #243
Looks great! Appreciate the quick addressing of this!
 Name         Version  Catalogs  Pkginfo Path                         Pkg Repo Path                      Icon Repo Path
    ----         -------  --------  ------------                         -------------                      --------------
    Perimeter81  8.0.5    testing   Perimeter81/Perimeter81-8.0.5.plist  Perimeter81/Perimeter81-8.0.5.

[2022-09-16 16:32] #243 closed

[2022-09-19 20:18] vmiller opened #245 "QLab Recipes"
I see that QLab released version 5 August 30.  The current QLab4 recipes do not pick up the latest QLab as the update URL has changed to https://figure53.com/qlab/downloads/appcast-v5

Not sure of the best course of action :
- create a set of QLab5 recipes
- create "versionless" recipes with an overridable download URL

Either path would require some work on the part of the users of the recipes.

[2022-09-20 16:14] paul-cossey commented on #245
Hi, @vmiller

Thanks for the heads up, I've just committed some QLab5 recipes: https://github.com/autopkg/dataJAR-recipes/commit/e46728adf9ec377c0d4d34f5f580cdf8e959a962

I've gone with separate recipes due to licensing and a different signing certificate.

Paul

[2022-09-20 17:30] #245 closed

[2022-09-20 17:34] mtconleyuk opened #246 "Fix Python error due to out-of-date MunkiPkginfoReceiptsEditor processor"
Need to replace processor com.github.keeleysam.recipes.GoogleTalkPlugin/MunkiPkginfoReceiptsEditor with new core processor MunkiOptionalReceiptEditor to avoid error due to change to Python 3.10:-

        <dict>
            <key>Processor</key>
            <string>MunkiOptionalReceiptEditor</string>
        </dict>

[2022-09-21 07:39] Daz-wallace opened #247 "Changes required to Lens.download"
Hey folks,

Looks like there are some changes needed to the Lens download recipe (and some possible upstream ones). Im gonna try and work through and ideally put in a PR but for now:
1) Download is now a .dmg rather than a .zip
2) URL is now something like `(Lens-([0-9]+(\.[0-9]+)+)-latest\.dmg)`

Thought I'd raise it early in case you get to it before me!

[2022-09-22 08:25] Daz-wallace commented on #247
Taking a bit of a look at this, my RegEx-Fu isn't good enough to edit @paul-cossey's awesome work without redoing it simpler and breaking the dynamic Architecture choice :S

[2022-09-22 09:21] Daz-wallace commented on #247
Hey Paul,
It seems to work great, thank you :)

[2022-09-22 09:36] #247 closed

[2022-09-23 16:27] franton opened #248 "Figma only Apple Silicon"
Hi,

Figma for reasons best known to themselves provides a separate download for Intel app bundle and Apple Silicon app bundle. It's not universal. Sadly the recipe is only downloading and packaging the Apple Silicon version.

Any way to get a totally universal installer?

[2022-09-23 16:28] franton opened #249 "Aspera Connect - missing version"
Any way to add the version number of Aspera Connect to the downloaded pkg name?

[2022-09-27 14:04] paul-cossey commented on #249
Hi, @franton

What recipe are you referring to? The [pkg](https://github.com/autopkg/dataJAR-recipes/blob/master/Aspera%20Connect/Aspera%20Connect.pkg.recipe) one?

[2022-09-27 15:27] franton commented on #249
Yes, the pkg one.Kind Regards,Richard PurvesSent from my iPhoneOn Sep 27, 2022, at 7:05 AM, Paul Cossey ***@***.***> wrote:﻿
Hi, @franton
What recipe are you referring to? The pkg one?

—Reply to this email directly, view it on GitHub, or unsubscribe.You are receiving this because you were mentioned.Message ID: ***@***.***>

[2022-09-27 16:07] paul-cossey commented on #249
Thanks, we've actually depreciated that recipe as it's broken. The Vendor now provides a pkg installer rather than an app installer.

[code]

[2022-09-29 12:23] paul-cossey commented on #248
Hi, @franton

Sorry, seems the reply I wrote the other day don't save, I must've closed the page!

As far as I know, there is no universal app. But the Figma download recipe has support for an architecture variable baked in already. You could create a new override for the Intel version or update your existing one.

https://github.com/autopkg/dataJAR-recipes/blob/bc198efa5ef63ee88d877f0931b69f775e8

[2022-09-30 20:23] eshirk opened #252 "DisplayLink_Manager.munki failing to extract new content"
With the addition of the Login Screen Extension to the DisplayLink_Manager.download recipe (https://github.com/autopkg/smithjw-recipes/commit/56de71cfbc88cde28ecad9987385dd51ee79fe33), the Munki recipe is having trouble extracting the new extension:

Processor: FlatPkgUnpacker: Error: extraction of /Users/Shared/AutoPkg/Cache/local.munki.DisplayLink Manager/downloads/DisplayLink_Manager_Extension.

[2022-10-03 22:16] smithjw commented on #248
@franton Not to recipe-snipe here but I've recently updated my Figma recipes to download both installers and bake them into the same pkg. The appropriate one is installed when run on the device https://github.com/autopkg/smithjw-recipes/blob/master/Figma/Figma-Universal.pkg.recipe.yaml

[2022-10-03 22:19] smithjw commented on #252
@eshirk @paul-cossey Hey folks, this issue is due to my .download recipe now downloading both the installer and the login window pkg. The dmg for the login window extension is downloaded last which is probably getting sucked up into the munki recipe.

My pkg recipe now combines those two installers into one and creates a new pkg that installs both at the same time. This ensures that the end-user n

[2022-10-04 02:40] franton commented on #248
@smithjw Excellent. Recipe snipe away! (and saves me having to make one myself)

[2022-10-04 02:40] #248 closed

[2022-10-06 10:59] paul-cossey commented on #252
Thanks, @eshirk and @smithjw

I'll take a look at this today :-)

[2022-10-12 14:47] paul-cossey commented on #252
Sorry for the delay in getting to this, @eshirk, could you try this commit: https://github.com/autopkg/dataJAR-recipes/commit/32125d8f32d5087b08dd86ccc20e399752d3b820 and let me know if it works for you please?

Thanks for the work on the pkg recipe, @smithjw

:-)

[2022-10-12 16:25] eshirk commented on #252
Thanks, @paul-cossey; we've got progress now in that the download is no longer failing, but one of the shared processors is generating an error:

Traceback (most recent call last):
  File "/Users/Shared/AutoPkg/RecipeRepos/com.github.autopkg.MLBZ521-recipes/Shared Processors/XPathParser.py", line 92, in main
    xml_info = tree.findall(xpath)[0]
IndexError: list index out of range

During handling

[2022-10-12 17:08] paul-cossey commented on #252
Have you updated repos, @eshirk? It's working for me:

[code]

[2022-10-12 17:31] eshirk commented on #252
Still failing for me, @paul-cossey, and I did update repos and also deleted/re-added both data-JAR and smithjw repos.

But maybe I've misunderstood your commit. I'm testing a new override for com.github.dataJAR-recipes.munki.DisplayLink Manager; should I take a different approach?

[2022-10-12 18:58] paul-cossey commented on #252
Do you have MLBZ521's repo added/updated? As that's where the processor that's erroring is.

[2022-10-12 20:05] eshirk commented on #252
Yes, I ran repo-update all and confirmed all repos were up to date, but also deleted/readded MLBZ521 for good measure. Still the same error.

Overriding and running com.github.smithjw.pkg.DisplayLink_Manager results in a successful pkg download, no errors. But running the  dataJAR Munki recipe against that pkg yields the same error about the com.github.mlbz521.SharedProcessors/XPathParser processo

[2022-10-12 21:09] smithjw commented on #252
@eshirk just to make sure all bases are covered, have you tried deleting all the trust information from your override of the .munki recipe and then updating trust on it again. That should hopefully ensure all the relevant parents are in use and trusted.

[2022-10-12 21:28] eshirk commented on #252
Good thought @smithjw, but I deleted all 3 repos as well as the .munki override, dumped caches, readded the repos, and created a new override.

If I'm the only one seeing this issue, it's clearly something in my environment.

[2022-10-12 21:38] paul-cossey commented on #252
What version of AutoPkg are you running, @eshirk?

[2022-10-12 21:42] eshirk commented on #252
Oh yikes--we're still on 2.4.1.... Didn't realize we'd fallen that far behind! I'll work on getting that updated, then test again. Feel free to close this issue in the meantime.

[2022-10-13 08:18] paul-cossey commented on #252
I'm pretty sure that's the issue then. I'll close this off, but please feel free to reopen if you're still having issues after updating.

[2022-10-13 08:18] #252 closed

[2022-10-17 19:44] eshirk commented on #252
@paul-cossey and @smithjw: I'm afraid that after an AutoPkg update to v2.7, and subsequently removing and readding all three involved repos/making a new override/dumping the recipe cache, I'm getting the same IndexError.

You said above that smithjw-recipes-master/DisplayLink/DisplayLink Manager.munki.recipe works for you, but I can't find that recipe. Are you able to successfully run com.github.d

[2022-10-23 15:47] prausch opened #253 "Extensis Connect Fonts version now 24"
With the release of Adobe Creative Cloud 2023, Extensis has incremented their Connect Fonts version to 24.x.x and the Sparkle feed

[2022-10-31 05:12] flammable commented on #228
So, things have changed a bit. Code42 split off its backup product into a new company, called CrashPlan. Right now, the Code42 app is used by both companies - version 10 is the backup product known once again as CrashPlan, and version 11 is the Code42 security product, Incydr. Per the team in #crashplan in the MacAdmins Slack, in early 2023, their version of the app will be renamed and rebranded a

[2022-10-31 10:36] paul-cossey commented on #228
Thanks for the heads up, @flammable looking to revive the old recipes now.

[2022-10-31 17:09] paul-cossey commented on #228
I've updated the CrashPlan recipes, @flammable could you give them a try and let me know if they work for you?

https://github.com/autopkg/dataJAR-recipes/tree/master/CrashPlan
https://github.com/autopkg/dataJAR-recipes/tree/master/CrashPlan%20for%20Small%20Business

[2022-11-01 10:57] flammable commented on #228
They both work great! Thanks, Paul!

[2022-11-01 21:38] Frzk commented on #252
FWIW, I'm experiencing the same with autopkg 2.7:

[2022-11-03 12:05] paul-cossey opened #256 "Perimeter81 - Expired Certificate"
The [Perimeter81](https://github.com/autopkg/dataJAR-recipes/tree/master/Perimeter%2081) set of recipes are currently failing.

This is due to an expired SSL Certificate on https://support.perimeter81.com

<img width="728" alt="Screenshot 2022-11-03 at 11 35 38" src="https://user-images.githubusercontent.com/16046272/199715925-0b9f4a09-f7d2-4177-9fb0-091faae6bc05.png">

[code]

The vendor has been

[2022-11-04 09:12] paul-cossey commented on #256
The SSL Certificate has been replaced, and the https://support.perimeter81.com site is back up and running.

[code]

[2022-11-04 09:12] #256 closed

[2022-11-08 03:00] fseesink opened #257 "Line 80 of Lens.download.recipe makes recipe less flexible than it could be"
Instead of `%NAME%`, you have hard-coded the name `Lens` into the download recipe at **line 80**.  This in turn REQUIRES that the downloaded name to be `Lens`.  Instead of
[code]
it would help if it were instead
[code]

That way, if someone overrides the name, for example in the `Lens.munki.recipe` if they make 2 overrides, wish to download both the `x86_64` AND the `arm64` versions separately, th

[2022-11-11 16:57] macmule commented on #246
linked to https://github.com/autopkg/dataJAR-recipes/pull/242/files

closing off

[2022-11-11 16:57] #246 closed

[2022-11-17 10:22] #257 closed

[2022-11-17 10:40] paul-cossey commented on #228
The Code42 recipes have now been deprecated.

[2022-11-17 10:40] #228 closed

[2022-11-17 13:20] mikeknight85 opened #260 "Audinate Dante Virtual Soundcard does not download latest version"
It does not download the latest version for Apple Silicon (v4.2.4.1), only the Intel versions, because in the xml file they do not list the Apple Silicon version of the application

[2022-11-17 13:39] macmule commented on #260
@mikeknight85 can you advise where the correct version is listed?

[2022-11-17 13:44] mikeknight85 commented on #260
https://my.audinate.com/support/downloads/dante-virtual-soundcard

[2022-11-18 15:47] paul-cossey opened #261 "FlashPrint 5"
FlashPrint 5 recipes are currently failing.

There seems to be a database issue on the FlashForge Download Center, the page takes ages to load then crashes with a 500 error and the below message, before redirecting to the home page.

[code]

[2022-11-18 17:17] paul-cossey commented on #260
Hi, @mikeknight85

I've just had a quick look at this, and I've found the Sparkle Feed for the arm64 version.

https://software-updates.audinate.com/DanteVirtualSoundcard/appcast/macOS/DanteVirtualSoundcard-macOS.xml

You could create a new override and use that with the `SPARKLE_FEED_URL` variable.

[code]

Let me know if that solves the issue for you, and I'll update the descriptions with this i

[2022-11-18 17:42] mikeknight85 commented on #260
Hi @paul-cossey

Thanks, i was not able to find that feed, seems to be working for me ! Thanks a lot !

[2022-11-18 18:29] paul-cossey commented on #260
Awesome, thanks for letting me know, and glad it worked for you @mikeknight85

I'll update the description Monday.

[2022-11-21 10:58] paul-cossey commented on #261
Flash forge's website is back up and running correctly.

[code]

[2022-11-21 10:58] #261 closed

[2022-11-21 10:59] paul-cossey commented on #260
Description has been updated with the Sparkle Feeds for Apple Silicone and Intel versions.

https://github.com/autopkg/dataJAR-recipes/commit/158abda2e391552933d5a595e3a031bda45dc176

[2022-11-21 10:59] #260 closed